{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}MIT-MAHE{% endblock %}

{% block page_content %}

<div class="row">
  <h2>Mentors</h2>
  <p><b>Principal investigator</b> Dr. Ritu Raval </p>
  <p><b>Secondary PI</b> Dr. Fayaz SM </p>
  <p><b>iGEM Mentor </b> Sana Jalili </p>
  <p>
  <h3>iGEM Advisors</h3>
  <ul>
    <li>Anooshka Pareddy </li>
    <li> Chetan Roger Dhanjal </li>
    <li> Maurice D'moss </li>
    <li> Kowshika Muniandi </li>
    <li> Ujjayini Nandi </li>
    <li>
      Dyutish Bandyopadhyay </li>
    <li> Rushad Nihal </li>
    <li> Mouli Rajesh </li>
  </ul>
  </p>
  <h3>Old iGEM projects</h3>
  <ul>
    <li><a>Team:Vilnius-Lithuania</a></li>
    <li><a>Team:ITB Indonesia</a></li>
    <li><a>Team:Cambridge</a></li>
  </ul>

  <h1>Design</h1>
  <h2>Suhani Kabra </h2>
  <ul>
    <li>Social media</li>
    <li> Content writing and editing</li>
    <li> Public relations</li>
    <li> Graphics</li>
    <li> Fundraiser publicity</li>
    <li> Budgets and inventory</li>
    <li> Logistics and planning</li>
  </ul>

  <b>Human Practices</b>
  <ul>
    <li>Involvement in Human Practices initiatives</li>
    <li> Organisation and management of webinars on waterborne pathogens, biosafety in synthetic biology and
      entrepreneurship</li>
    <li> in bioremediation and aquaculture</li>
    <li> Visited Asare rehabilitation centre</li>
    <li> Visit to Pragya International school</li>
    <li> Orientation at CHIREC international school</li>
    <li> Fish farm interaction, Kumta</li>
    <li> Ethics Roundtable</li>
    <li> Podcast on synthetic biology in space</li>
    <li> Handbook with iGEM VIT Vellore on Biology and Engineering</li>
  </ul>
  <b>Collaborations</b>
  <ul>
    <li>iGEM HKUST</li>
    <li> Queen's iGEM</li>
    <li> iGEM VIT Vellore</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  <h2>Tushar Mishra</h2>
  <ul>
    <li>MAM7 plasmid, primer design, cloning and expression</li>
    <li> Wet Lab Handbook</li>
    <li> Fundraiser publicity</li>
  </ul>
  <b>Human Practices</b>
  <ul>
    <li>Coordinated the webinar on waterborne pathogens</li>
    <li> Visited Dr Ballal's enterics division lab, KMC</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II

  <h2>Vaibhav Revankar</h2>

  <ul>
    <li>Structure Prediction</li>
    <li> Peptide design and modification</li>
    <li> Dry lab handbook</li>
    <li> MDS result analysis</li>
    <li> Fundraiser publicity</li>
    <li> iGEM IISER Pune II dry lab handbook</li>
  </ul>
  <b>Human Practices</b>
  <ul>
    <li>Involvement in human practices interactions</li>
    <li> Visited Asare rehabilitation centre</li>
    <li> Visit to Pragya International school</li>
  </ul>
  <b>Collaborations</b>
  <ul>
    <li>Queen's iGEM</li>
    <li> iGEM HKUST</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  <h2>Ashrith Sagar Yedapalli</h2>
  <ul>
    <li>Software design and development</li>
    <li> Wiki</li>
    <li> Fundraiser publicity</li>
  </ul>
  <b>Human Practices</b>
  Involvement in human practices interactions
  <b>Collaboration meetings</b>
  <ul>
    <li>iGEM HKUST</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II

  <h2>Avani Hegde</h2>

  <i>Vibrio parahaemolyticus</i> pathogenicity literature survey
  Fibronectin, MAM7 interaction literature survey
  <b>Collaborations:</b>
  iGEM HKUST
  Queen's iGEM
  iGEM IISER Mohali
  All India iGEM Meet
  <b>Human Practices</b>
  Podcast on synthetic biology in space
  Orientation at Shantiniketan School and Madhav Kripa School
  Involvement in human practices interactions
  Fish market visit in Kolhapur
  Visit to Asare Rehabilitation Centre
  Restaurant visit in Udupi
  Ethics Roundtable
  Geo Book
  Pamphlet on safe usage of antibiotics in pisciculture farms translation
  Research survey on the pisciculture industry

  <h2>Nava Manickam</h2>

  Logistics and planning
  Public relations
  Fundraiser publicity
  <b>Human Practices</b>
  Facilitated Human Practices initiatives
  Hosted and coordinated Human Practices interactions
  Coordinated webinars on waterborne pathogens, biosafety in synthetic biology and entrepreneurship in bioremediation
  and aquaculture
  Visit to Asare Rehabilitation Centre
  Orientation at Madhav Kripa school
  Fish farm visits in Chennai and Mangalore
  Geo Book
  Visit to Pragya International school
  <b>Collaborations<b />
    Queen's iGEM
    iGEM HKUST
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II

    <h2>Shaan Ganatra</h2>
    Structure Prediction
    Peptide design and modification
    Dry Lab Handbook
    MDS result analysis
    Fundraiser publicity
    iGEM IISER Pune II dry lab handbook
    <b>Human Practices</b>
    Involvement in human practices interactions
    Fish farm visit in Mangalore
    Visit to Asare rehabilitation centre
    <b>Partnership</b>
    iGEM IISER Pune II
    <b>Collaboration</b>
    All India iGEM Meet
    <h2>Punya Hirawat</h2>
    Structure Prediction
    Peptide design and modification
    MDS results analysis

    Fundraiser publicity
    iGEM IISER Pune II Dry Lab handbook

    <b>Human practices</b>
    Involvement in human practices interactions
    Visit to Asare Rehabilitation Centre
    Visit to seafood restaurant in Udupi
    <b>Collaborations:</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    <h2>Renuka Basawa</h2>
    Chitosan Nanoparticle delivery system
    Wet Lab Handbook
    <i>Vibrio parahaemolyticus</i> pathogenicity literature survey
    MAM7 literature survey
    Fundraiser publicity
    <b>Human Practices</b>
    Involvement in human practices interactions
    Visit to Asare rehabilitation centre
    Research survey on the pisciculture industry
    Podcast on synthetic biology in space
    <b>Collaboration</b>
    Queen's iGEM
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER PuneII







    <h2>Dnyanada Khile</h2>
    Chitosan Nanoparticle delivery system
    Intein literature survey
    <i>Vibrio parahaemolyticus </i> pathogenicity literature survey
    Visit to Dr Mamatha Ballal's Enteric Disease Division Lab, Kasturba Medical College, Manipal
    Fundraiser publicity
    <b>Human practices</b>
    Visit to Asare Rehabilitation Centre
    Fish farm visit in Mangalore
    Visit to Pragya International school
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II


    <b>Serin Joby</b>
    MAM7 plasmid, primer design, cloning and expression
    Peptide expression system design
    Wet Lab Handbook
    Visit to Dr Mamatha Ballal's Enteric Disease Division Lab, Kasturba Medical College, Manipal
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    <h2>Naomi Ann Thomas</h2>
    Logistics and planning
    Public Relations
    Fundraiser Publicity
    <b>Human Practices</b>
    Involvement in human practices interactions
    Fish farm visit in Dubai and Mangalore
    Visit to Asare Rehabilitation Centre
    Orientation at Madhav Kripa school
    AMPifin Comic Strip
    Restaurant visit in Udupi
    Fish farm visit in Mangalore
    Geo Book
    Survey consolidation
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II


    <h2>Rohit Manikantan</h2>
    Survey consolidation
    Fundraiser publicity
    Logistics and Planning
    <b>Human Practices</b>
    Visit to Asare rehabilitation centre
    Restaurant visit in Udupi
    <b>Collaboration</b>
    All India iGEM Meet


    <h2>Rathnamegha Lingamshetty </h2>
    Visit to CHIREC International School, Hyderabad
    Ethics Roundtable
    Pamphlet on safe usage of antibiotics in pisciculture farms
    <b>Collaboration</b>
    All India iGEM Meet


    <h2>Rahil Ummar Faruk</h2>
    MAM7 plasmid, primer design, cloning and expression
    Peptide plasmid design
    Wet Lab Handbook
    Visit to Dr Ballal's enterics division lab, KMC
    Fundraiser publicity
    <b>Human Practices</b>
    Involvement in human practices interactions
    Visit to Asare rehabilitation centre
    Visit to Pragya International school
    Pamphlet on safe usage of antibiotics in pisciculture farms
    Research survey on the pisciculture industry
    <b>Collaboration</b>
    All India iGEM Meet
    iGEM IISER Mohali
    Queen's iGEM
    <b>Partnership</b>
    iGEM IISER Pune II
    <h2>Rohit Harikumar</h2>
    Graphic design and illustrations for:
    Geo Book
    AMPifin comic strip
    <b>Collaboration</b>
    All India iGEM Meet

    <h2>Riddhi Agrahari</h2>
    Graphic design and illustrations
    UI/UX design


    <h1>Wiki</h1> :
    <b>Project Description</b>
    Dnyanada Khile
    <b>Design</b> :
    Renuka Basawa, Avani Hegde, Dnyanada Khile
    <b>Engineering Success</b>
    Avani Hegde
    <b>Experimentation</b>
    Renuka Basawa
    <b>Model</b>
    Avani Hegde, Vaibhav Revankar
    <b>Software</b>
    Shaan Chirag Ganatra, Ashrith Sagar Yedlapalli
    <b>Project Implementation</b>
    Renuka Basawa
    <b>Human practices overview</b>
    Suhani Kabra
    <b>Human Practices</b> :
    Naomi Ann Thomas, Nava Manickam
    <b>Integrated human practices</b>
    Nava Manickam, Suhani Kabra, Renuka Basawa
    Naomi Ann Thomas
    <b>Collaborations</b>
    Suhani Kabra
    <b>Partnership</b>
    Suhani Kabra
    <b>Education and communication</b>
    Naomi Ann Thomas
    <b>Graphics</b>
    Riddhi Agrahari, Rohit Harikumar, Rathnamegha Lingamsetty
    <b>Citations and references</b>
    Dnyanada Khile
    <b>Attributions</>
      Avani Hegde, Suhani Kabra
      <b>Judging</>
        Dnyanada Khile
        <b>Special prizes</>
          Naomi Ann Thomas, Shaan Chirag Ganatra


          <h2>Promotional Video</h2> :
          <b>Script</b> : Avani Hegde , Renuka Basawa
          <b>Graphics and illustration</b> : Riddhi Agrahari
          <b>Animation</b> : Rohit Harikumar
          <b>Voiceover </b> Avani Hegde
          <b>Video editing</b> : Swaroop Diddi, Advay Nikam

          AIIM mention

</div>

{% endblock %}