{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}MIT-MAHE{% endblock %}

{% block page_content %}

<div class="row">
  <h2>Mentors</h2>
  <p><b>Principal investigator</b> Dr. Ritu Raval </p>
  <p><b>Secondary PI</b> Dr. Fayaz SM </p>
  <p><b>iGEM Mentor </b> Sana Jalili </p>
  <p>
  <h3>iGEM Advisors</h3>
  <ul>
    <li>Anooshka Pareddy </li>
    <li> Chetan Roger Dhanjal </li>
    <li> Maurice D'moss </li>
    <li> Kowshika Muniandi </li>
    <li> Ujjayini Nandi </li>
    <li> Dyutish Bandyopadhyay </li>
    <li> Rushad Nihal </li>
    <li> Mouli Rajesh </li>
  </ul>
  </p>
  <h3>Old iGEM projects</h3>
  <ul>
    <li><a>Team:Vilnius-Lithuania</a></li>
    <li><a>Team:ITB Indonesia</a></li>
    <li><a>Team:Cambridge</a></li>
  </ul>

  <h1>Design</h1>
  <p>
  <h2>Suhani Kabra </h2>
  <ul>
    <li>Social media</li>
    <li> Content writing and editing</li>
    <li> Public relations</li>
    <li> Graphics</li>
    <li> Fundraiser publicity</li>
    <li> Budgets and inventory</li>
    <li> Logistics and planning</li>
  </ul>
  <b>Human Practices</b>
  <ul>
    <li>Involvement in Human Practices initiatives</li>
    <li> Organisation and management of webinars on waterborne pathogens, biosafety in synthetic biology and
      entrepreneurship in bioremediation and aquaculture</li>
    <li> Visited Asare rehabilitation centre</li>
    <li> Visit to Pragya International school</li>
    <li> Orientation at CHIREC international school</li>
    <li> Fish farm interaction, Kumta</li>
    <li> Ethics Roundtable</li>
    <li> Podcast on synthetic biology in space</li>
    <li> Handbook with iGEM VIT Vellore on Biology and Engineering</li>
  </ul>
  <b>Collaborations</b>
  <ul>
    <li>iGEM HKUST</li>
    <li> Queen's iGEM</li>
    <li> iGEM VIT Vellore</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  </p>
  <p>
  <h2>Tushar Mishra</h2>
  <ul>
    <li>MAM7 plasmid, primer design, cloning and expression</li>
    <li> Wet Lab Handbook</li>
    <li> Fundraiser publicity</li>
  </ul>
  <b>Human Practices</b>
  <ul>
    <li>Coordinated the webinar on waterborne pathogens</li>
    <li> Visited Dr Ballal's enterics division lab, KMC</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  </p>
  <p>
  <h2>Vaibhav Revankar</h2>
  <ul>
    <li>Structure Prediction</li>
    <li> Peptide design and modification</li>
    <li> Dry lab handbook</li>
    <li> MDS result analysis</li>
    <li> Fundraiser publicity</li>
    <li> iGEM IISER Pune II dry lab handbook</li>
  </ul>
  <b>Human Practices</b>
  <ul>
    <li>Involvement in human practices interactions</li>
    <li> Visited Asare rehabilitation centre</li>
    <li> Visit to Pragya International school</li>
  </ul>
  <b>Collaborations</b>
  <ul>
    <li>Queen's iGEM</li>
    <li> iGEM HKUST</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  <h2>Ashrith Sagar Yedapalli</h2>
  <ul>
    <li>Software design and development</li>
    <li> Wiki</li>
    <li> Fundraiser publicity</li>
  </ul>
  <b>Human Practices</b>
  Involvement in human practices interactions
  <b>Collaboration meetings</b>
  <ul>
    <li>iGEM HKUST</li>
    <li> All India iGEM Meet</li>
  </ul>
  <b>Partnership</b>
  iGEM IISER Pune II
  </p>
  <p>
  <h2>Avani Hegde</h2>

  <ul>
    <li><i>Vibrio parahaemolyticus</i> pathogenicity literature survey</li>
    <li> Fibronectin, MAM7 interaction literature survey</li>
  </ul>

  <b>Human Practices</b>
  <ul>
    <li>Podcast on synthetic biology in space</li>
    <li> Orientation at Shantiniketan School and Madhav Kripa School</li>
    <li> Involvement in human practices interactions</li>
    <li> Fish market visit in Kolhapur</li>
    <li> Visit to Asare Rehabilitation Centre</li>
    <li> Restaurant visit in Udupi</li>
    <li> Ethics Roundtable</li>
    <li> Geo Book</li>
    <li> Pamphlet on safe usage of antibiotics in pisciculture farms translation</li>
    <li> Research survey on the pisciculture industry</li>
    <li>Handbook with iGEM VIT Vellore on Biology and Engineering </li>
  </ul>
  <b>Collaborations:</b>
  <ul>
    <li>iGEM HKUST</li>
    <li> Queen's iGEM</li>
    <li> iGEM IISER Mohali</li>
    <li> All India iGEM Meet</li>
  </ul>
  </p>
  <p>
  <h2>Nava Manickam</h2>
  <ul>
    <li>Logistics and planning</li>
    <li> Public relations</li>
    <li> Fundraiser publicity</li>
    <li> <b>Human Practices</b></li>
    <li> Facilitated Human Practices initiatives</li>
    <li> Hosted and coordinated Human Practices interactions</li>
    <li> Coordinated webinars on waterborne pathogens, biosafety in synthetic biology and entrepreneurship in
      bioremediation</li>
    <li> and aquaculture</li>
    <li> Visit to Asare Rehabilitation Centre</li>
    <li> Orientation at Madhav Kripa school</li>
    <li> Fish farm visits in Chennai and Mangalore</li>
    <li> Geo Book</li>
    <li> Visit to Pragya International school</li>
  </ul>
  <b>Collaborations<b />
    <ul>
      <li>Queen's iGEM</li>
      <li> iGEM HKUST</li>
      <li> All India iGEM Meet</li>
    </ul>
    <b>Partnership</b>
    iGEM IISER Pune II
    </p>
    <p>
    <h2>Shaan Ganatra</h2>
    <ul>
      <li>Structure Prediction</li>
      <li> Peptide design and modification</li>
      <li> Dry Lab Handbook</li>
      <li> MDS result analysis</li>
      <li> Fundraiser publicity</li>
      <li> iGEM IISER Pune II dry lab handbook</li>
    </ul>
    <b>Human Practices</b>
    <ul>
      <li>Involvement in human practices interactions</li>
      <li> Fish farm visit in Mangalore</li>
      <li> Visit to Asare rehabilitation centre</li>
    </ul>
    <b>Partnership</b>
    iGEM IISER Pune II
    <b>Collaboration</b>
    All India iGEM Meet
    </p>
    <p>
    <h2>Punya Hirawat</h2>
    <ul>
      <li>Structure Prediction</li>
      <li> Peptide design and modification</li>
      <li> MDS results analysis</li>
      <li> Fundraiser publicity</li>
      <li> iGEM IISER Pune II Dry Lab handbook</li>
    </ul>

    <b>Human practices</b>
    <ul>
      <li>Involvement in human practices interactions</li>
      <li> Visit to Asare Rehabilitation Centre</li>
      <li> Visit to seafood restaurant in Udupi</li>
    </ul>
    <b>Collaborations:</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    </p>
    <p>
    <h2>Renuka Basawa</h2>
    <ul>
      <li>Chitosan Nanoparticle delivery system</li>
      <li> Wet Lab Handbook</li>
      <li> <i>Vibrio parahaemolyticus</i> pathogenicity literature survey</li>
      <li> MAM7 literature survey</li>
      <li> Fundraiser publicity</li>
    </ul>
    <b>Human Practices</b>
    <ul>
      <li>Involvement in human practices interactions</li>
      <li> Visit to Asare rehabilitation centre</li>
      <li> Research survey on the pisciculture industry</li>
      <li> Podcast on synthetic biology in space</li>
    </ul>
    <b>Collaboration</b>
    <ul>
      <li>Queen's iGEM</li>
      <li> All India iGEM Meet</li>
    </ul>
    <b>Partnership</b>
    iGEM IISER PuneII
    </p>
    <p>
    <h2>Dnyanada Khile</h2>
    <ul>
      <li>Chitosan Nanoparticle delivery system</li>
      <li> Intein literature survey</li>
    </ul>
    <i>Vibrio parahaemolyticus </i> pathogenicity literature survey
    <ul>
      <li>Visit to Dr Mamatha Ballal's Enteric Disease Division Lab, Kasturba Medical College, Manipal</li>
      <li> Fundraiser publicity</li>
    </ul>
    <b>Human practices</b>
    <ul>
      <li>Visit to Asare Rehabilitation Centre</li>
      <li> Fish farm visit in Mangalore</li>
      <li> Visit to Pragya International school</li>
    </ul>
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    </p>

    <p>
      <b>Serin Joby</b>
    <ul>
      <li>MAM7 plasmid, primer design, cloning and expression</li>
      <li> Peptide expression system design</li>
      <li> Wet Lab Handbook</li>
      <li> Visit to Dr Mamatha Ballal's Enteric Disease Division Lab, Kasturba Medical College, Manipal</li>
    </ul>
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    <h2>Naomi Ann Thomas</h2>
    <ul>
      <li>Logistics and planning</li>
      <li> Public Relations</li>
      <li> Fundraiser Publicity</li>
    </ul>
    <b>Human Practices</b>
    <ul>
      <li>Involvement in human practices interactions</li>
      <li> Fish farm visit in Dubai and Mangalore</li>
      <li> Visit to Asare Rehabilitation Centre</li>
      <li> Orientation at Madhav Kripa school</li>
      <li> AMPifin Comic Strip</li>
      <li> Restaurant visit in Udupi</li>
      <li> Fish farm visit in Mangalore</li>
      <li> Geo Book</li>
      <li> Survey consolidation</li>
    </ul>
    <b>Collaboration</b>
    All India iGEM Meet
    <b>Partnership</b>
    iGEM IISER Pune II
    </p>


    <p>
    <h2>Rohit Manikantan</h2>
    <ul>
      <li>Survey consolidation</li>
      <li> Fundraiser publicity</li>
      <li> Logistics and Planning</li>
    </ul>
    <b>Human Practices</b>
    <ul>
      <li>Visit to Asare rehabilitation centre</li>
      <li> Restaurant visit in Udupi</li>
    </ul>
    <b>Collaboration</b>
    All India iGEM Meet
    </p>

    <p>
    <h2>Rathnamegha Lingamshetty </h2>
    <ul>
      <li>Visit to CHIREC International School, Hyderabad</li>
      <li> Ethics Roundtable</li>
      <li> Pamphlet on safe usage of antibiotics in pisciculture farms</li>
      <li>Handbook with iGEM VIT Vellore on Biology and Engineering </li>
    </ul>
    <b>Collaboration</b>
    <li>All India iGEM Meet</li>
    </p>


    <p>
    <h2>Rahil Ummar Faruk</h2>
    <ul>
      <li>MAM7 plasmid, primer design, cloning and expression</li>
      <li> Peptide plasmid design</li>
      <li> Wet Lab Handbook</li>
      <li> Visit to Dr Ballal's enterics division lab, KMC</li>
      <li> Fundraiser publicity</li>
    </ul>
    <b>Human Practices</b>
    <ul>
      <li>Involvement in human practices interactions</li>
      <li> Visit to Asare rehabilitation centre</li>
      <li> Visit to Pragya International school</li>
      <li> Pamphlet on safe usage of antibiotics in pisciculture farms</li>
      <li> Research survey on the pisciculture industry</li>
    </ul>
    <b>Collaboration</b>
    <ul>
      <li>All India iGEM Meet</li>
      <li> iGEM IISER Mohali</li>
      <li> Queen's iGEM</li>
    </ul>
    <b>Partnership</b>
    iGEM IISER Pune II
    <h2>Rohit Harikumar</h2>
    <ul>
      <li>Graphic design and illustrations for:</li>
      <li> Geo Book</li>
      <li> AMPifin comic strip</li>
    </ul>
    <b>Collaboration</b>
    All India iGEM Meet
    </p>
    <p>
    <h2>Riddhi Agrahari</h2>
    <ul>
      <li>Graphic design and illustrations</li>
      <li> UI/UX design</li>
    </ul>
    </p>

    <p>
    <h1>Wiki</h1>
    <h4>Project Description</h4>
    Dnyanada Khile
    <h4>Design</h4>
    Renuka Basawa, Avani Hegde, Dnyanada Khile
    <h4>Engineering Success</h4>
    Avani Hegde
    <h4>Experimentation</h4>
    Renuka Basawa
    <h4>Model</h4>
    Avani Hegde, Vaibhav Revankar
    <h4>Software</h4>
    Shaan Chirag Ganatra, Ashrith Sagar Yedlapalli
    <h4>Project Implementation</h4>
    Renuka Basawa
    <h4>Human practices overview</h4>
    Suhani Kabra
    <h4>Human Practices</h4>
    Naomi Ann Thomas, Nava Manickam
    <h4>Integrated human practices</h4>
    Nava Manickam, Suhani Kabra, Renuka Basawa, Naomi Ann Thomas
    <h4>Collaborations</h4>
    Suhani Kabra
    <h4>Partnership</h4>
    Suhani Kabra
    <h4>Education and communication</h4>
    Naomi Ann Thomas
    <h4>Graphics</h4>
    Riddhi Agrahari, Rohit Harikumar, Rathnamegha Lingamsetty
    <h4>Citations and references</h4>
    Dnyanada Khile
    <h4>Attributions</h4>
    Avani Hegde, Suhani Kabra
    <h4>Judging</h4>
    Dnyanada Khile
    <h4>Special prizes</h4>
    Naomi Ann Thomas, Shaan Chirag Ganatra
    </p>

    <p>
    <h2>Promotional Video</h2>
    <h4>Script</h4>
    Avani Hegde , Renuka Basawa
    <h4>Graphics and illustration</h4>
    Riddhi Agrahari
    <h4>Animation</h4>
    Rohit Harikumar
    <h4>Voiceover </h4>
    Avani Hegde
    <h4>Video editing</h4>
    Swaroop Diddi, Advay Nikam
    </p>

    <p>
    <h4>AIIM mention</h4>
    </p>
</div>

{% endblock %}