{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}

{% block page_content %}

<div class="row">
<h1><u>Mentors</u></h1>
<br>
<h3>Primary PI</h3>
<br>
 Dr. Ritu Raval
<p>She was integral in collating the experimental and design aspects of AMPifin. From continual mentorship for our project to involving herself in our educational activities, her contribution toward iGEM MIT_MAHE has been extremely significant.</p>
<br>
<h3>Secondary PI</h3>
<br>
 Dr. Fayaz SM
<p>He played an essential role in consolidating the peptide design approach and helped us analyse the results of the Molecular Dynamic Simulations. His contribution to the team and our project has been impeccable.</p>
<br>
<h3>iGEM Mentor</h3>
 Ms. Sana Jalili
<br>
<h3>iGEM Advisors</h3>
<p>Anooshka Pareddy, Chetan Roger Dhanjal, Maurice D’moss, Kowshika Muniandi, Ujjayini Nandi, Dyutish Bandyopadhyay, Rushad Nihal, Mouli Rajesh</p>
<br>
<h3>Old iGEM projects</h3>
<a href="https://2020.igem.org/Team:Vilnius-Lithuania">Team:Vilnius-Lithuania 2020</a>
<a href="https://2019.igem.org/Team:ITB_Indonesia">Team:ITB Indonesia 2019</a>
<a href="https://2010.igem.org/Team:Cambridge">Team:Cambridge 2010</a>
<br>
<h3>Interactions</h3>
<p>Mr. Kaushik Alike, Dr. Ramesh Sistala, Dr. Nithin M.S., Dr. Seetha Krishnan, Dr. Mamatha Ballal, Dr. Ramesh Sistala, Dr. Kannan Ramaswamy, Dr. M Shashi Shekar, Dr. Manickam G, Mr. Reiss Jones, Mr. Ronald Kevin D’Souza, Mr. Miroslav Gasparek, Dr. Vinod Jyothikumar.</p>
<br>
<h3>Technical Support</h3>
<p>Our wet lab experiments were all carried out under the guidance and supervision of the two Ph.D. candidates at our lab—Ms. Atheena P.V. and Mr. Rajesh K.M. Rajesh sir has a diverse knowledge set and was always available to guide any of our experiments and was extremely helpful, even on holidays. Atheena ma’am, who was more than eager to have discussions with us, helped us in our attempts at troubleshooting our experiments. We are incredibly grateful to both of them for their selfless and dedicated support.</p>
<br>
<h1>Team</h1>
<br>
<h3>Suhani Kabra</h3>
<p>As the team co-leader, Suhani took charge of most of the administrative tasks of our team. She was responsible for logistics, planning, budgeting and inventory. She also played a crucial role in managing our social media platforms as a content writer and editor. As part of mediating public relations, she also created graphics. </p>

<p>Suhani took significant initiative in her involvement in human practices. She organised and managed webinars on waterborne pathogens, biosafety in synthetic biology, and entrepreneurship in bioremediation and aquaculture. She also actively participated in our visits to Asare Rehabilitation Centre, and Prajna English Medium School. She carried out a synthetic biology orientation session at CHIREC International School. She played a key role in organising an Ethics roundtable. </p>

<p> She collaborated with iGEM VIT Vellore on a Handbook on Biology and Engineering. She was involved in our team’s collaboration with iGEM HKUST, Queen’s iGEM, and the All Indian iGEM Meet. Additionally, she was involved in the human practices aspects of our partnership with iGEM IISER Pune II.</p>
<br>
<h3>Tushar Mishra</h3> 
<p>Being the team co-leader, Tushar was instrumental in adding structure to our project's technical aspects. An eager member of Wet Lab, he was responsible for the design of the two plasmid constructs used during our project viz pET22b-MAM7 and pET22b-Fusion peptide. He also designed the primers required for the amplification of the synthetic fragment and colony PCR. He was also involved in depositing parts sequences on parts registry. As a wet lab member, he was involved in our experimental efforts of trying to clone and express MAM7. </p>
<br>
<p>He also participated in human practices interactions, for which he helped coordinate the webinar on waterborne pathogens. He was involved in the visit to Dr. Mamatha Ballal's  Enteric Disease Division Lab,  Kasturba Medical College, Manipal and Prajna English Medium School.</p>
<br>
<h3>Vaibhav Revankar</h3>
<p>Vaibhav, in his capacity as our Dry Lab lead, contributed extensively to the dry lab aspects of our project. He worked on structure prediction of MAM7 and fibronectin along with the rest of the dry lab team. He was also involved in the ideation and implementation of peptide design and modification cycle. He was involved in interpreting the results of MDS for docked MAM7/peptide structures.</p>

<p>Beyond Dry Lab, he also actively contributed to human practices and was involved in our visits to Asare rehabilitation centre and Prajna English Medium School. He also participated in numerous human practices interactions. He was helpful in our collaborations with Queen’s iGEM, iGEM HKUST, and the All India iGEM Meet. He was also significantly involved in our partnership with iGEM IISER Pune II and contributed to the Dry Lab Handbook.</p>
<br>
<h3>Ashrith Sagar Yedapalli</h3>
<p>As the leader of the Hardware and Software subsystem, he was singular in his contributions to Software design and development. He was responsible for the implementation of the peptide design and modification cycle.As a part of dry lab, he contributed to the process of structure prediction. He formed the backbone of our efforts to document our efforts on the iGEM wiki.</p>
<p>Other than his exemplary contributions to our Software design, and wiki page, he was also involved in human practices interactions, and meetings on collaborations with iGEM HKUST and the All India iGEM Meet. He contributed greatly to our partnership with iGEM IISER Pune II</p>
<br>
<h3>Avani Hegde</h3>
<p>As the head of research for our team, Avani was essential in the literature survey for <i>Vibrio parahaemolyticus</i>, fibronectin, and MAM7 interaction. Furthemore, she coordinated our podcast on synthetic biology in space and orientations at Shantiniketan School and Madhav Kripa School. She contributed toward our involvement in human practices, fish market visit in Kolhapur, visit to Asare Rehabilitation Centre, restaurant visit in Udupi, Ethics Roundtable, and the research survey on the pisciculture industry, and the pamphlet on safe usage of antibiotics in pisciculture farms.</p>

<p>Furthermore, she collaborated with iGEM VIT Vellore on a Handbook on Biology and Engineering. She was involved in our team’s collaboration with iGEM HKUST and the All Indian iGEM Meet.</p>
<br>
<h3>Nava Bharati Manickam</h3>
 <p>Nava played a crucial role in coordinating the teams’ logistics. She was significant in handling our public relations and hosting human practices interactions. Moreover, she helped harmonise the webinars on waterborne pathogens, biosafety in synthetic biology and entrepreneurship in bioremediation and aquaculture.</p>

<p>She was scrupulously involved in the visit to Asare Rehabilitation Centre, the orientation at Madhav Kripa school, the fish farm visits in Chennai and Mangalore, the Geo Book, and the visit to Prajna English Medium School.</p>

<p>Additionally, she was involved in our team’s collaboration with iGEM HKUST, Queen’s iGEM, and the All Indian iGEM Meet. She was also involved in the human practices aspects of our partnership with iGEM IISER Pune II.</p>
<br>
<h3>Shaan Chirag Ganatra</h3> 
<p>Shaan actively carried out work on MAM7 and Fibronectin structure prediction. He was involved in the ideation of peptide design and modification cycle. He also helped in interpreting the results from Molecular docking studies of MAM7 and peptide.</p>

<p>Shaan also visited a fish farm in Mangalore as part of our human practices and was also involved in our visits to Asare rehabilitation centre. He actively contributed to our partnership efforts with iGEM IISER Pune II by working on the Dry Lab Handbook with them.</p>
<br>
<h3>Punya Hirawat</h3>
<p> As a member of the Dry Lab subsystem, Punya made contributions towards the dry lab team’s efforts in MAM7 and Fibronectin structure prediction. He was also involved in the ideation of peptide design and modification cycle. He, along with the team, carried out analysis of the MDS results.</p>

<p>He also contributed to other subsystems and actively participated in various human practices interactions. He also helped in our visits to Asare Rehabilitation Centre and seafood restaurant in Udupi. He was also involved in our collaboration with All India iGEM Meet and our partnership with iGEM IISER Pune II.</p>
<br>
<h3>Renuka Basawa</h3>
<p>Renuka was significant in the literature surveys of the Chitosan Nanoparticle delivery system, MAM7, and the <i>Vibrio parahaemolyticus </i> pathogenicity literature survey. She was instrumental in documentation of the wet lab handbook.</p>

<p>Renuka played a key role in our human practices involvements. She contributed toward the visit to Asare Rehabilitation Centre. Additionally, she helped collate our research survey on the pisciculture industry and was a speaker for our podcast on synthetic biology in space.</p>

<p>Furthermore, she was involved in our team’s collaboration with Queen’s iGEM, iGEM HKUST and the All Indian iGEM Meet. She played a significant role in our partnership with iGEM IISER Pune II.</p>
<br>      
<h3>Dnyanada Anil Khile</h3>

<p>Dnyanada was instrumental in the literature surveys of the Chitosan Nanoparticle delivery system, Inteins, and the <i>Vibrio parahaemolyticus</i> pathogenicity literature survey. She also visited Dr Mamatha Ballal’s Enteric Disease Division Lab, Kasturba Medical College, Manipal.</p>

<p>Moreover, she was involved in the visits to Asare Rehabilitation Centre, fish farm in Mangalore, and Prajna English Medium school. Additionally, she was involved in collaborative aspects at the All India iGEM Meet. She also helped collate the Protein Production Study Guide in partnership with iGEM IISER Pune II.</p>
<br>
<h3>Serin Joby Parekkadan</h3> 
<p>Serin was an enthusiastic member of the Wet Lab team and actively helped in our experiments to try and clone, and express MAM7. She was involved in documenting the efforts of the wet lab and contributed to the Wet Lab Handbook.</p>

<p>She was involved in our human practices efforts, as part of which she visited Dr. Mamatha Ballal’s Enteric Disease Division Lab, Kasturba Medical College, Manipal. She contributed towards our fish farm visit in Kerala and Mangalore. She also helped with an orientation session at Madhav Kripa School. She helped collate the content for our pamphlet on safe use of antibiotics. She was involved in our collaboration efforts with All India iGEM Meet and our partnership with iGEM IISER Pune II. For the latter, she contributed towards the Protein Production Study Guide.</p>
<br> 
<h3>Naomi Ann Thomas</h3>
<p>Naomi has contributed in numerous ways toward the logistics and planning aspects of our team.She was also consistently involved in the public relations aspects of our project. </p>

<p>She was involved in our human practices interactions, fish farm visit in Dubai and Mangalore, Visit to Asare Rehabilitation Centre. orientation at Madhav Kripa school, Restaurant visit in Udupi, fish farm visit in Mangalore, Geo Book, and survey consolidation. Furthemore, she was involved in the ideation of our DIY comic strip. Furthermore, she was involved in collaboration aspects of the All India iGEM Meet. Additionally, she was involved in the human practices aspects of our partnership with iGEM IISER Pune II.</p>
<br>
<h3>Rohit Manikantan</h3>
<p>As part of our Management team,  he was involved in logistics and planning and raising publicity for our fundraiser. Rohit helped consolidate the data from the survey conducted by us. </p>

<p>For our human practices interaction, Rohit helped out with our visits to Asare rehabilitation centre and a restaurant visit in Udupi. He was also involved in our collaborations with All India iGEM Meet. </p>
<br>
<h3>Rathnamegha Lingamsetty</h3>
<p>Megha helped organise the synthetic biology orientation that was carried out at CHIREC International School, Hyderabad. She played a crucial role in organising the Ethics roundtable.</p> 

<p>Moreover, she helped prepare a pamphlet on safe usage of antibiotics in pisciculture farms. She also actively contributed to our collaboration with All India iGEM Meet. She helped create a handbook on Biology and Engineering as part of our collaboration with VIT Vellore.</p> 
<br>
<h3>Rahil Ummar Faruk Abbu</h3>
<p>Rahil is our ever-optimistic lead of the Wet Lab subsystem. He was actively involved in all our experimental efforts in the Wet lab for cloning and expression of MAM7. Additionaly, he also took care of budgeting and inventorying everything Wet Lab. He carried out documentation of our experiments and so contributed to the Wet Lab Handbook. Rahil was involved in depositing our parts on the Registry.</p>

<p>Beyond his efforts in Wet Lab, he actively contributed to our efforts on Human Practices. For the same, he visited Dr. Mamatha Ballal’s Enteric Disease Division Lab, Kasturba Medical College, Manipal and Asare rehabilitation centre. He helped greatly in our team’s efforts to make pamphlets on the safe usage of antibiotics in pisciculture farms. He also helped collate our consumer survey. Furthermore, he was significantly involved in our collaborations with All India iGEM Meet, iGEM IISER Mohali, and Queen’s iGEM. He also actively contributed in our partnership efforts with iGEM IISER Pune II on Protein Production Study Guide.</p>
<br>
<h3>Rohit Harikumar</h3>
<p>Rohit carried out graphic design and illustrations for our GeoBook, and AMPifin comic strip. He also participated in our collaboration with the All India iGEM Meet. </p>
<br>
<h3>Riddhi Agrahari</h3>
<p>Riddhi played a key role in creating the graphic designs and illustrations. She also helped with major aspects of UI/UX design of our Wiki.</p>
<br>
<h1>Wiki</h1> 
<br>
<h3>Project Description</h3>
<p>Dnyanada Anil Khile</p>
<br>
<h3>Design</h3>
<p>Renuka Basawa, Avani Hegde, Dnyanada Anil Khile</p>
<br>
<h3>Engineering Success</h3>
<p>Avani Hegde</p>
<br>
<h3>Experimentation</h3>
<p>Renuka Basawa</p>
<br>
<h3>Model</h3>
<p>Avani Hegde, Vaibhav Revankar</p>
<br>
<h3>Software</h3>
<p>Shaan Chirag Ganatra, Ashrith Sagar Yedlapalli</p>
<br>
<h3>Project Implementation</h3>
<p>Renuka Basawa</p>
<br>
<h3>Human practices overview</h3>
<p>Suhani Kabra, Renuka Basawa</p>
<br>
<h3>Community engagement</h3>
<p>Naomi Ann Thomas</p>
<br>
<h3>Integrated human practices</h3>
<p>Nava Manickam, Suhani Kabra, Renuka Basawa, Naomi Ann Thomas</p>
<br>
<h3>Collaborations</h3>
<p>Suhani Kabra</p>
<br>
<h3>Partnership</h3>
<p>Suhani Kabra</p>
<br>
<h3>Education and communication</h3>
<p>Naomi Ann Thomas, Suhani Kabra</p>
<br>
<h3>Graphics</h3>
<p>Riddhi Agrahari, Rohit Harikumar, Rathnamegha Lingamsetty</p>
<br>
<h3>Citations and references</h3>
<p>Dnyanada Anil Khile</p>
<br>
<h3>Attributions</h3>
<p>Avani Hegde, Suhani Kabra, Tushar Mishra</p>
<br>
<h3>Judging</h3>
<p>Dnyanada Anil Khile</p>
<br>
<h3>Special prizes</h3>
<p>Naomi Ann Thomas, Shaan Chirag Ganatra, Avani Hegde</p>
<br>
<h3>Promotional Video</h3> 
<p><b>Script:</b> Avani Hegde, Renuka Basawa</p>
<p><b>Graphics and illustration:</b> Riddhi Agrahari</p> 
<p><b>Animation:</b> Rohit Harikumar 
<p><b>Voiceover:</b> Avani Hegde</p> 
<p><b>Video editing:</b> Swaroop Diddi, Advay Nikam</p> 
<br>
<h3>Podcast on synthetic biology in space</h3>
<p><b>Speakers from iGEM MIT_MAHE:</b> Avani Hegde, Renuka Basawa, Suhani Kabra</p>
<p><b>Speakers from The Astronomy club, Manipal:</b> Athar Hussain, Aditya Arun Iyer</p>

</div>

{% endblock %}
