{% extends "layout.html" %}

{% block title %}Awards{% endblock %}

{% block page_content %}

<img src="https://static.igem.wiki/teams/4200/wiki/home/igem-team-pic.jpeg" alt="iGEM Team Pic"
    class="reveal-on-scroll">

<br>
<p class="display-4">Gold medal 🥇</p>

<h1>Nominations</h1>

<div class="awards-box reveal-on-scroll">
    <img src="/static/assets/awards/track-foodandnutrition.svg" alt="Track Prize" width="50px">
    <h2 class="reveal-on-scroll">Best Track Prize | Food and Nutrition</h2>
</div>

<div class="awards-box reveal-on-scroll">
    <img src="/static/assets/awards/software-tool.svg" alt="Track Prize" width="50px">
    <h2 class="reveal-on-scroll">Best Software Tool</h2>
</div>

<div class="awards-box reveal-on-scroll">
    <img src="/static/assets/awards/education.svg" alt="Track Prize" width="50px">
    <h2 class="reveal-on-scroll">Best Education</h2>
</div>

<div class="awards-box reveal-on-scroll">
    <img src="/static/assets/awards/presentation.svg" alt="Track Prize" width="50px">
    <h2 class="reveal-on-scroll">Best Presentation</h2>
</div>

<div class="awards-box reveal-on-scroll">
    <img src="/static/assets/awards/wiki.svg" alt="Track Prize" width="50px">
    <h2 class="reveal-on-scroll">Best Wiki</h2>
</div>

{% endblock %}