{% extends "layout.html" %}

{% block title %}Awards{% endblock %}

{% block page_content %}

<img src="https://static.igem.wiki/teams/4200/wiki/home/igem-team-pic.jpeg" alt="iGEM Team Pic"
    class="reveal-on-scroll">

<br>

<h1>Medals</h1>
<div class="awards-box reveal-on-scroll">
    <p class="display-4">Gold medal 🥇</p>
</div>

<h1>
    Track Awards
    <span class="badge rounded-pill bg-info text-dark">Undergrad + Overgrad</span>
</h1>
<div class="awards-box reveal-on-scroll">
    <img src="../../static/assets/awards/track-foodandnutrition.svg" alt="Track Prize" width="70px">
    <h2 class="reveal-on-scroll">Best Food & Nutrition Project</h2>
</div>

<h1>
    Special Prizes
    <span class="badge rounded-pill bg-info text-dark">Overgrad</span>
</h1>

<div class="row">
    <div class="col">
        <div class="awards-box reveal-on-scroll">
            <img src="../../static/assets/awards/software-tool.svg" alt="Best Software Tool" width="70px">
            <h2 class="reveal-on-scroll">Best Software Tool</h2>
        </div>
    </div>
    <div class="col">
        <div class="awards-box reveal-on-scroll">
            <img src="../../static/assets/awards/education.svg" alt="Best Education" width="70px">
            <h2 class="reveal-on-scroll">Best Education</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="awards-box reveal-on-scroll">
            <img src="../../static/assets/awards/presentation.svg" alt="Best Presentation" width="70px">
            <h2 class="reveal-on-scroll">Best Presentation</h2>
        </div>
    </div>
    <div class="col">
        <div class="awards-box reveal-on-scroll">
            <img src="../../static/assets/awards/wiki.svg" alt="Best Wiki" width="70px">
            <h2 class="reveal-on-scroll">Best Wiki</h2>
        </div>
    </div>
</div>

{% endblock %}