{% extends "layout.html" %}

{% block title %}Awards{% endblock %}

{% block page_content %}

<img src="https://static.igem.wiki/teams/4200/wiki/home/igem-team-pic.jpeg" alt="iGEM Team Pic"
    class="reveal-on-scroll">

<div class="row">
    <div class="col reveal-on-scroll">
        <p class="display-6">Gold medal 🥇</p>
    </div>
    <div class="col reveal-on-scroll">
        <p>Nominations in</p>

        <li>Best Track Prize | Food and Nutrition</li>
        <li>Best Software</li>
        <li>Best Education</li>
        <li>Best Presentation</li>
        <li>Best Wiki</li>
        </ul>
    </div>
</div>

{% endblock %}