{% extends "layout.html" %}

{% block title %}Collaborations{% endblock %}

{% block page_content %}

<div class="row">
  <h2>Overview</h2>
  <p>Collaboration bolsters the essence of iGEM, and in tandem with that, we pushed to collaborate with various iGEM
    teams worldwide. Through our multiple interactions with iGEM teams worldwide, we gained insight and feedback on
    our
    approach, and helped other teams with their
    troubleshooting aspects. Our collaborations brought in an all-encompassing view of iGEM and the multitude of teams
    participating in the competition. We thank the community of students with whom we were fortunate enough to
    interact.
  </p>

  <h2>Webinars in collaboration with iGEM Queens_Canada</h2>

  <p>We collaborated with iGEM Queens_Canada through webinars to build on both teams' knowledge of waterborne
    pathogens.
    Furthermore, these webinars touched on important topics like <b>entrepreneurship</b> and <b>developing processes
      in
      bioremediation and aquaculture</b>.</p>

  <p>Our first interaction with <a href="https://2022.igem.wiki/queens-canada/">iGEM Queens_Canada</a> was in May
    2022.
    We began by explaining our projects to each other
    and looking at possible collaborations and fruitful areas of work. The Queens iGEM team told us that the necessity
    for
    effective filtration and detection technology has become critical due to the persistent problem of unsafe drinking
    water in indigenous communities across Canada. Their objective is to offer these communities a point-of-care water
    filtration system that will remove harmful chemicals like lead, mercury, and <i>Escherichia coli</i> and assist
    them
    in
    identifying undesired microorganisms in their water to ensure it is safe to drink. Our project for 2022 focuses on
    synthesising a novel antimicrobial peptide that can bind to the protein MAM7 on the bacteria, thus preventing
    infection. On interacting with their team, we troubleshot ideas based on our project. We decided to collaborate on
    <b>spreading awareness</b> and promoting discussion based on <b>waterborne pathogens</b> and
    <b>synthetic-biology-based techniques</b>
    that have paved the way to finding solutions to these problems.
  </p>

  <p>Our first webinar, held on 14th August, 2022, was based on an exciting set of talks on the different bacteria,
    viruses, and other pathogens that live in water. Our speakers—Dr. Mamatha Ballal and Dr. Cecilia Gimenez—both
    extremely proficient academicians in their respective fields, set the stage by discussing infectious diseases,
    waterborne pathogens, and the <b>importance of clean water</b> across all localities. The webinar saw over sixty
    attendees
    from across the regions of Canada and India, including university students and scholars. Furthermore, in the
    Question and Answer portion of the seminar, the audience picked up engaging discussion points. They asked the
    speakers about their work, and interlinked these aspects with the webinar’s topic.</p>

  <div class="row">
    <div class="col-6">
      <figure class="figure">
        <img
          src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-qgemxmit-mahe-webinar-1-poster.png"
          class="figure-img img-fluid rounded" alt="webinar poster">
        <figcaption class="figure-caption text-center">
          A snapshot of the webinar's poster!
        </figcaption>
      </figure>
    </div>
    <div class="col-6">
      <figure class="figure">
        <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-qgem-webinar-one.png"
          class="figure-img img-fluid rounded" alt="webinar snapshot">
        <figcaption class="figure-caption text-center">
          A snapshot from the webinar on waterborne pathogens!
        </figcaption>
      </figure>
    </div>
  </div>

  <p>Our second webinar, held on 15th September 2022, was based on a talk on developing different
    <b>synthetic-biology-based entrepreneurial techniques in bioremediation and aquaculture</b>. Sandra Dworatzek, a
    principal
    scientist at SiREM Canada, discussed her current outline of work in the field. The webinar saw over thirty
    attendees
    from across the regions of Canada and India, including university students and scholars. She elaborated on how the
    various techniques can be integrated through aspects like entrepreneurship and product development with iGEM teams
    like ours. Furthermore, in the Question and Answer portion of the seminar, the audience picked up engaging
    discussion points. They asked the speaker about their work, and interlinked these aspects with the webinar's
    topic.
  </p>

  <div class="row">
    <div class="col-6">
      <figure class="figure">
        <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-qgemxmit-mahe-2-poster.png"
          class="figure-img img-fluid rounded" alt="webinar poster">
        <figcaption class="figure-caption text-center">
          A snapshot of the webinar's poster!
        </figcaption>
      </figure>
    </div>
    <div class="col-6">
      <figure class="figure">
        <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-qgem-webinar-two.jpg"
          class="figure-img img-fluid rounded" alt="webinar snapshot">
        <figcaption class="figure-caption text-center">
          A snapshot from the webinar on entrepreneurship in bioremediation and aquaculture.
        </figcaption>
      </figure>
    </div>
  </div>

  <h2>Troubleshooting and Human Practices insights with iGEM HKUST</h2>

  <p>We collaborated on numerous topics that involved corroboration between the teams in troubleshooting and building
    on
    our existing knowledge of the projects. Furthermore, we identified <b>common stakeholders</b> and helped each
    other
    analyse
    and approach the pisciculture markets in India and Hongkong, respectively.</p>

  <p>Our first meeting with the iGEM HKUST team was on 5th July 2022, during which both teams presented their project
    ideas and looked for potential areas of collaboration. Upon identifying possible similarities in our human
    practices
    and dry lab modules, these seemed to be the most feasible areas for collaboration.</p>

  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-hkustxmit-mahe.jpg"
      class="figure-img img-fluid rounded" alt="first interaction with iGEM HKUST" width="80%">
    <figcaption class="figure-caption text-center">
      A snapshot from our first interaction with iGEM HKUST.
    </figcaption>
  </figure>

  <p>The initial meeting inspired us to maximise our stakeholder research and conduct more extensive
    research into the Indian seafood market. Based on their input, we initiated interactions with the seafood market
    and
    restaurant workers across our locality. To facilitate the exchange of stakeholder contacts, the integrated human
    practices modules from both teams had additional meetings informally. We presented insights from our research and
    experience with India’s pisciculture industry. We also provided them with contact details and information on a few
    fish farms and markets in India.</p>

  <p>After meeting with the entire team prior, the dry lab modules from each team hosted a second meeting to discuss
    matters related to mathematical modelling. In particular, the iGEM HKUST team wanted to discuss more stochastic
    protein and promoter interaction modelling. Our team shared information on the software we used and some details
    on
    navigating them. The softwares included BUDE Alanine scan, ClusPro (for molecular docking), and Schrodinger
    Maestro
    (visualisation). Furthermore, iGEM HKUST provided our team with information on <b>constructing ODEs</b> and the
    <b>interpretational methods</b> to generate meaningful graphs from them.
  </p>

  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/hkustxmit-mahe-2.png"
      class="figure-img img-fluid rounded" alt="common stakeholder interaction" width="80%">
    <figcaption class="figure-caption text-center">
      A snapshot from our interaction of common stakeholders of the teams.
    </figcaption>
  </figure>

  <h2>Handbook on Biology and Engineering with iGEM VIT Vellore</h2>

  <p>We had our first interaction with <a href="https://2022.igem.wiki/vit-vellore">iGEM VIT Vellore</a> while
    collating
    on the organisational aspects of the All India
    iGEM Meet. Eleven Indian teams competing in iGEM 2022 attended the immersive three-day meet with activities
    ranging
    from project presentations to engrossing seminars on the various aspects of Synthetic biology.</p>

  <p>After this, our teams decided to collaborate on a handbook to elucidate the integration between biology and
    engineering for the use of educators. We included aspects like an <b>introduction to genes and genetics</b>, the
    <b>central
      dogma</b>, and basic examples to explain <b>synthetic biology and biomimetics</b>. We also added a section on
    iGEM
    High School
    teams. Through this collaboration, our teams understood the importance of broadening our reach toward young
    students; students who are at their initial stage of <b>learning and understanding STEM backgrounds</b>. Below is
    an
    attachment of the handbook:
  </p>

  <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="VIT Vellore Handbook"
    src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-mit-mahe-x-igem-vit-vellore-compressed.pdf#zoom=FitW"></iframe>

  <h2>The All India iGEM Meet (2022)</h2>

  <p>In the spirit of iGEM, we participated and helped organise the All India iGEM Meet in collaboration with <a
      href="https://2022.igem.wiki/iisc-bengaluru/">iGEM IISc
      Bengaluru</a>, <a href="https://2022.igem.wiki/ict-mumbai">ICT Mumbai</a>, <a
      href="https://2022.igem.wiki/iiser-pune-india">IISER Pune</a>, <a
      href="https://2022.igem.wiki/iiser-pune2-india/">IISER Pune II</a>, <a
      href="https://2022.igem.wiki/iit-delhi/">IIT Delhi</a>, <a href="https://2022.igem.wiki/iit-roorkee/">IIT
      Roorkee</a>, <a href="https://2022.igem.wiki/iiser-berhampur/">IISER Berhampur</a>, <a
      href="https://2022.igem.wiki/iiser-mohali/">IISER Mohali</a>, <a href="https://2022.igem.wiki/iiser-tvm/">IISER
      TVM</a>, <a href="https://2022.igem.wiki/vit-vellore">VIT Vellore</a>, and <a
      href="https://2022.igem.wiki/rec-chennai">REC Chennai</a>. Held between 23rd–25th of July 2022, AIIM was centred
    around forming collaborations
    and furthering the Synthetic Biology community in India. Our team comprehended the work of teams with similar
    political and social environments as ours, and we understood how to build projects together. The event was an
    essential step in understanding the various synthetic biology-based expertise areas in India and worldwide.</p>

  <p>The eleven Indian teams competing in iGEM 2022 attended the presentation competition in an exciting three-day
    event. The highlight of this event was its mock jamboree-style presentation and judging sessions, where our team
    got
    a chance to learn about the other teams’ work, forge collaborations and gain constructive feedback from teams and
    judges alike. Furthermore, the event saw interesting talks from various members of academia and the iGEM
    community.
  </p>

  <div class="row">
    <div class="col-6">
      <figure class="figure">
        <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-aiim-22.jpeg"
          class="figure-img img-fluid rounded" alt="AIIM interaction">
        <figcaption class="figure-caption text-center">
          A snapshot of our teams' interactions at AIIM.
        </figcaption>
      </figure>
    </div>
    <div class="col-6">
      <figure class="figure">
        <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-aiim-22-presentation.jpg"
          class="figure-img img-fluid rounded" alt="AIIM presentation">
        <figcaption class="figure-caption text-center">
          A snapshot from our presentation at the All India iGEM Meet.
        </figcaption>
      </figure>
    </div>
  </div>

  <h2>Geo Book</h2>

  <p>In the spirit of sharing and understanding seafood within the context of different cuisines and localities,
    MIT_MAHE’s iGEM team decided to collaborate on a compendium of dishes that involve aquatic animals.</p>

  <p>The main aim of the Geo Book was to celebrate <b>diversity</b> and bring more <b>recognition</b> to what affects
    our favourite
    palates of seafood. Furthermore, it brought light to any unsustainable practices involved in their breeding. All
    the
    participating teams included details and photographs of their favourite kinds of seafood, and our team compiled
    them
    for inquisitive readers, and of course, seafood connoisseurs!</p>

  <p>The teams that participated were <a href="https://2022.igem.wiki/rec-chennai">iGEM REC Chennai</a>, <a
      href="https://2022.igem.wiki/iiser-pune2-india/">iGEM IISER Pune II</a>, <a
      href="https://2022.igem.wiki/chalmers-gothenburg/">iGEM Chalmers_Gothenburg</a>, <a
      href="https://2022.igem.wiki/william-and-mary/">iGEM William and
      Mary</a>, <a href="https://2022.igem.wiki/vilnius-lithuania/">iGEM Vilnius-Lithuania 2022</a>, <a
      href="https://2022.igem.wiki/hkust/">iGEM HKUST</a>, <a href="https://2022.igem.wiki/teccem/">iGEM TecCEM </a>,
    <a href="https://2022.igem.wiki/queens-canada/">iGEM Queens_Canada</a>
  </p>

  <p>Below is an attachment of the Geo Book:</p>

  <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="Geobook"
    src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-mit-mahe-geo-book.pdf"></iframe>


  <h2>World Environment Day</h2>
  <p>To commemorate the importance of World Environment Day on 4th June, 2022, <a
      href="https://2022.igem.wiki/iiser-pune-india/">iGEM IISER Pune</a> brought in a novel
    initiative—iGEM teams pitching in to make our world cleaner and greener! As part of our contribution to the cause,
    two of our team members planted a sapling near our hostel block. This helped us realise the importance of giving
    back to the environment, and we reflected on sustainability in today’s time.</p>

  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/collaboration/collaboration-iiserp1xmit-mahe-env-day.jpg"
      class="figure-img img-fluid rounded" alt="World Environment Day" width="60%">
    <figcaption class="figure-caption text-center">
      A snapshot of our contribution toward the World Environment Day initiative.
    </figcaption>
  </figure>

  <h2>Video on Safe Lab Practices</h2>

  <p>In collaboration with <a href="https://2022.igem.wiki/iiser-mohali/">iGEM IISER Mohali</a> on a short video and
    write-up that elucidated essential lab practices, our
    team’s members reiterated the importance of following protocols in a lab. It is crucial to comprehend the
    significance of <b>lab safety</b> because laboratories bring in a wide variety of safety risks. We realised that
    our
    team
    could aid in <b>preventing or eliminating hazards</b> by being familiar with our laboratory and adhering to the
    lab
    safety
    protocols. The video and write-up included personal protective equipment, cleaning and disinfecting surfaces,
    proper
    waste disposal methods, and aseptic techniques. Below is a documentation of the protocols:</p>

  <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="Lab safety"
    src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-mit-mahexiiser-mohali-lab-safety-protocols.pdf"></iframe>

  <h2>Bacteria Book</h2>
  <p>Through AMPifin, we aim to target <i>Vibrio parahaemolyticus</i>, one of the most prevalent bacteria involved in
    spreading the vibriosis disease in fish. On seeing the Bacteria Book initiative of iGEM McGill, iGEM Queen’s, iGEM
    Cornell, and iGEM Costa Rica, we decided to add information on <i>V. parahaemolyticus</i>. The bacteria book would
    be a great reading experience for the general public that is curious to know more about the world of bacteria and
    pathogens.</p>

  <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="Bacteria book"
    src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-mit-mahe-bacteria-book-collaboration.pdf"></iframe>


  <h2>World Dengue Day</h2>

  <p>As an initiative for World Dengue Day, we recorded a video to spread awareness of Dengue for compilation by <a
      href="https://2022.igem.wiki/iiser-pune2-india/">iGEM
      IISER Pune II</a>. Their novel approach to <b>spreading cognisance</b> instilled a sense of
    <b>responsibility</b>
    among our members,
    and we ensured to communicate their inference to all our members. To view the video, check out <a
      href="https://2022.igem.wiki/iiser-mohali/">IISER Mohali's wiki!</a>
  </p>

  <h2>MSP-Maastricht Quiz</h2>

  <p>As an initiative by <a href="https://2022.igem.wiki/msp-maastricht/">MSP-Maastricht</a> to introduce children and
    the elderly to synthetic biology, the team decided to
    create a puzzle book, including projects of fellow iGEM teams. Here, we collaborated by providing them with
    information and keywords associated best with AMPifin. The puzzle book helped raise familiarity with synthetic
    biology and its related work.</p>

  <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="quiz book"
    src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-puzzle-book-msp-collaboration.pdf"></iframe>


  <h2>Podcast with The Astronomy Club, Manipal</h2>

  <p>On 7th October 2022, we collaborated with <a href="https://astronomymanipal.herokuapp.com/">The Astronomy
      Club</a>, Manipal to talk about <b>synthetic biology and its
      applications in the space industry</b>. The podcast comprised two members of the Astronomy Club and two members
    of
    Manipal BioMachines. It began with an introduction to the respective members and iGEM. The discussion
    was based on how synthetic biology could be used to enhance and use the extreme environments of space to our
    advantage. For example—extremophiles for the elimination of biowaste and synthesis of biomaterial, self healing
    bio-compounds for integrity of the space shuttle, and nutrient-rich-space-conserving food. There were talks about
    previous iGEM teams’ projects that built on the motive of improving space travel quality for the travellers by
    integrating pure syn-bio-based components. The audio to this podcast has been attached below</p>

  <p>This podcast was an opportunity for us to collaborate with astrophiles and understand their areas of interest.
    Discussing how astronomy integrates with astrology and astrobiology was an intriguing experience for our
    teams!</p>

  <iframe title="MIT_MAHE: Podcast on synthetic biology in space (2022) [English]" width="560" height="315"
    src="https://video.igem.org/videos/embed/cc0b2231-dc7c-463b-bc3c-786748c5708d" frameborder="0" allowfullscreen=""
    sandbox="allow-same-origin allow-scripts allow-popups"></iframe>

</div>

{% endblock %}