{% extends "layout.html" %}

{% block title %}Communication{% endblock %}

{% block page_content %}

<ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">

  <!-- Education Tab -->
  <li class="nav-item col-6 d-flex justify-content-center" role="presentation">
    <button class="nav-link page-tabs h1 reveal-on-scroll active" id="pills-education-tab" data-bs-toggle="pill"
      data-bs-target="#pills-education" type="button" role="tab" aria-controls="pills-education" aria-selected="true"
      style="width: 100%">Education</button>
  </li>

  <!-- Communication Tab -->
  <li class="nav-item col-6 d-flex justify-content-center" role="presentation">
    <button class="nav-link page-tabs h1 reveal-on-scroll" id="pills-communication-tab" data-bs-toggle="pill"
      data-bs-target="#pills-communication" type="button" role="tab" aria-controls="pills-communication"
      aria-selected="false" style="width: 100%">Communication</button>
  </li>

</ul>

<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">

    <!-- Education tab content goes here -->
    <div class="row mt-4">
      <img src="https://static.igem.wiki/teams/4200/wiki/communication/interactions-flowchart.png"
        alt="Our Interactions flowchart" class="reveal-on-scroll">
    </div>
    <div class="row">

      <h1 class="reveal-on-scroll">Overview</h1>

      <p class="reveal-on-scroll">The Bay of Bengal, the Arabian Sea, and the Indian Ocean all encircle the Indian
        subcontinent to its east, west, and south, respectively. For this reason, India is a peninsular country, and
        fish has become a constituent of the staple diet in most parts of the subcontinent. The field of synthetic
        biology is relatively new in science and engineering. This novel science faces problems concerning regulation,
        social acceptance, and ethics. Through the months, our approach involved various communities in the conversation
        about the field and its applications. Our team tried to appeal to a wide range of people, including the elderly
        and the young. Furthermore, we focused on building cognisance about vibriosis and AMPifin. For our range of
        interactions, we were fortunate enough to connect with a few schools, communities and universities in and around
        the Indian states of Karnataka, Maharashtra, and Telangana.</p>

      <p class="reveal-on-scroll">We created and used educational, outreach, and science communication-based material on
        synthetic biology. As part of this, we expounded and discussed the rudimentary aspects of synthetic biology and
        iGEM to various target audiences through our interactions with the working class population, undergraduate, high
        school, middle school, and differently-abled students. To do so, we modified our materials according to every
        group’s capabilities and prepared different activities for them. We spoke to them about other aspects of
        molecular biology, synthetic biology and our project.</p>

      <h1 class="reveal-on-scroll">Orientations and Activities</h1>

      <p class="reveal-on-scroll">India’s educational course structure primarily focuses on theoretical and
        computational learning. Due to this, pure science courses are sidelined. Through our education and
        communication, our objective was to introduce new topics to these school students and help them pursue more
        interests and career opportunities than common topics. To do this, we decided to approach students of different
        age groups and in various schools.</p>

      <h2 class="reveal-on-scroll">Amalgamating Biology and Engineering</h2>

      <p class="reveal-on-scroll">According to the current Indian curriculum, higher secondary students are split into
        different branches—science with biology, science without biology, commerce, and humanities. Consequently, senior
        secondary is the age at which students need to choose their probable majors for university, and it is an
        important year for them. Other than the mainstream courses, we wanted to introduce them to the versatile field
        of biology and engineering.
      </p>

      <p class="reveal-on-scroll">On July 9th 2022, we visited Shantiniketan School, where we elucidated the integration
        of biology in engineering. to over two hundred students. Since our session was focused on <b>secondary
          students</b>, the orientation began with an introduction to molecular biology and genetics. This included some
        basic concepts on genes, nucleotides and, eventually, the different codons and their functions. After explaining
        the basics of synthetic biology, we moved our focus toward AMPifin and its applications. The session concluded
        with a small activity using the codon chart. The students were given a few random sequences to decipher using
        the codon chart to solve a mystery. Everyone took part in this with great enthusiasm!</p>

      <p class="reveal-on-scroll">In the following days, many teachers and students approached our team members about
        the contents of our presentation with numerous different follow-up questions. They shared snapshots of the event
        through their platforms to help engage their readers on the activities of our session.
      </p>

      <figure class="figure"> <img
          src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-shantiniketan.jpg"
          class="figure-img img-fluid rounded" alt="Shantiniketan visit" width="60%">
        <figcaption class="figure-caption text-center"> A snapshot of our visit at Shantiniketan School. </figcaption>
      </figure>

      <h2 class="reveal-on-scroll">Synthetic Biology, an Oxymoron?</h2>

      <div class="row">
        <div class="col-7">
          <div class="row">
            <p class="reveal-on-scroll">On 19th July 2022, we visited CHIREC International School to educate <b>higher
                secondary students</b> on the various career opportunities synthetic biology and genetic engineering
              hold.</p>
            <p class="reveal-on-scroll">We interacted with over sixty students whose coursework was a mix of biology and
              science-based subjects. These students were enthusiastic about learning the applications of engineering
              biology and its amalgamation with synthetic biology. Since biology is mostly associated with all things
              natural, the concept of synthetic biology seemed quite contradictory to the students at first. We started
              by speaking about “the amazing genetic code”, and then spoke about the central dogma and its applications
              in engineering biology. Moreover, we explained the Design–Build–Test–Learn (DBTL) cycle approach through
              simple examples.</p>
            <p class="reveal-on-scroll">Following this, we spoke about the International Genetically Engineered Machine
              (iGEM) competition and how students their age can take part through various simple ideas that focus on
              local problems. The students were exceedingly interested in AMPifin and asked our members numerous
              questions about our project iterations. They were also interested in the career prospects of synthetic
              biology and biotechnology. Furthermore, we conducted a short codon-chart-based activity that the students
              took part in with great interest!</p>
            <p class="reveal-on-scroll">Some of the educators approached us to understand how they could guide their
              students towards new and upcoming fields in biology and engineering. The head of department of
              biotechnology even approached us a few days later to know more about how they could enroll CHIREC as an
              iGEM high school team!</p>
          </div>
          <div class="row reveal-on-scroll">
            <figure class="figure"> <img
                src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-chirec-1.jpg"
                class="figure-img img-fluid rounded" alt="CHIREC">
              <figcaption class="figure-caption text-center"> Our presentation at CHIREC International School.
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-5 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-chirec-2.jpg"
              class="figure-img img-fluid rounded" alt="CHIREC">
            <figcaption class="figure-caption text-center"> The students at CHIREC International School. </figcaption>
          </figure>
        </div>
      </div>

      <h2 class="reveal-on-scroll">School of Synthetic Biology</h2>

      <p class="reveal-on-scroll">Madhav Kripa is a school that is located near our college premises. Being surrounded
        by several colleges, we felt it would be beneficial to introduce its students to the diversified courses
        available in biology and engineering for higher studies. We decided to have an orientation on 7th October 2022
        with the <b>secondary school students</b> and educate them on the concepts of synthetic biology and foldscope
        design.</p>

      <p class="reveal-on-scroll">Adding on to our previous educational initiatives, we began the session by teaching
        some basic molecular and synthetic biology concepts. We enlightened the learners on genes, nucleotides, codons
        and their functions. Furthermore, we introduced them to the history and timeline of synthetic biology—chemistry,
        biology, synthetic chemistry, and synthetic biology. Our team also spoke to them about synthetic biology's
        various applications, including diagnostics, therapeutics, agriculture, industry, energy, and bioremediation.
        After this, we distributed AMPifin’s DIY comic strip to the students there and asked them what they inferred
        from it. Many of them observed what we tried to communicate, and their answers were in tandem with AMPifin’s
        problem statement.
      </p>

      <p class="reveal-on-scroll">After we explained our project to them, we spoke about a foldscope microscope. We
        showed them a foldscope microscope and how it works. The students were enthusiastic and responded well to our
        questions and the session. After the session, a few of them asked us how they could learn more synthetic biology
        and genetic engineering concepts. Furthermore, the educators and administrators at the school wanted us to
        conduct more such sessions for the students. Our team decided to make it a regular activity after our iGEM
        season.</p>

      <p class="reveal-on-scroll">High school science majors often face confusion between choosing engineering or
        biological sciences. This is the point when biology and engineering frequently diverge, with one being seen as
        wholly exclusive. Through our visits, we helped instil awareness of the potential for combining biology and
        technology or the extent of this field. Furthermore, by interacting with a wider demographic, we brought
        cognisance to synthetic biology, its applications, and the opportunities it holds.</p>

      <div class="row">
        <div class="col-7 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-madhav-kripa-1.jpg"
              class="figure-img img-fluid rounded" alt="Madhav Kripa">
            <figcaption class="figure-caption text-center"> A snapshot from our interaction on synthetic biology at
              Madhav Kripa School. </figcaption>
          </figure>
        </div>
        <div class="col-5 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-madhav-kripa-2.jpg"
              class="figure-img img-fluid rounded" alt="foldscope">
            <figcaption class="figure-caption text-center"> Our team member explaining the working of a foldscope.
            </figcaption>
          </figure>
        </div>
      </div>

      <h2 class="reveal-on-scroll">Synthetic Biology for Everyone</h2>

      <p class="reveal-on-scroll">On many occasions, the differently-abled are excluded from the fields of science and
        technology. We believe that science is for everyone. To bring fruition to our beliefs, we decided to visit a
        rehabilitation centre and interact with the members at their home.</p>

      <p class="reveal-on-scroll">On September 29th 2022, our team visited the <b>Asare Rehabilitation Centre</b>—a home
        for the differently-abled. We began with a brief introduction to iGEM MIT_MAHE, and were introduced to the
        members at the home. To understand and interact with them in a better way, we engaged them in a musical
        performance. After this, we proceeded to enact a skit that explained our project idea to them. Here, we held
        placards to signify the key aspects of AMPifin—fish, <i>Vibrio parahaemolyticus</i>, the MAM7 protein, a
        peptide, and chitosan nanoparticles. Through our skit, which was performed in their local language—i.e.,
        Kannada, we were able to bring an understanding of AMPifin and synthetic biology. Following the skit, we
        organised a colouring activity based on assorted cliparts of fish. Through this visit, we understood that there
        are no barriers to understanding science, and their enthusiasm toward our initiative was enlivening!
      </p>

      <div class="row">
        <div class="col-6 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-asare-2.jpg"
              class="figure-img img-fluid rounded" alt="colouring activity at Asare">
            <figcaption class="figure-caption text-center"> The members were engrossed in our colouring activity.
            </figcaption>
          </figure>
        </div>
        <div class="col-6">
          <div class="row reveal-on-scroll">
            <figure class="figure"> <img
                src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-asare-1.jpg"
                class="figure-img img-fluid rounded" alt="Asare Rehab Centre">
              <figcaption class="figure-caption text-center"> A snapshot of our interaction at Asare Rehabilitation
                Centre. </figcaption>
            </figure>
          </div>
          <div class="row reveal-on-scroll">
            <figure class="figure"> <img
                src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-asare-skit.jpg"
                class="figure-img img-fluid rounded" alt="skit">
              <figcaption class="figure-caption text-center"> Our short skit on AMPifin for the people at the
                rehabilitation centre. </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <h2 class="reveal-on-scroll">Synthetic Biology for Everyone—the Working-Class Audience</h2>

      <p class="reveal-on-scroll">On September 18th 2022, we conducted an online webinar for the <b>working-class
          members</b>. These individuals, currently in their 35–60 year age group are the working-class representatives
        of the society, and therefore, we decided to hold a webinar that included the basics of synthetic biology and
        AMPifin. The attendees were from various fields and backgrounds, of which, approximately 25% were well-versed in
        biotechnology and its principles. Our audience pool consisted of engineers, professors, chartered accountants,
        nurses, business people, scientists, teachers, to name a few.</p>

      <p class="reveal-on-scroll">In spite of their expertise barrier, they listened to our idea with rapt attention.
        Throughout the presentation, they asked us questions on concepts that they were unfamiliar with. During the
        question and answer session, they asked us questions on topics that we hadn't previously considered. They
        encouraged us to continue our work post-iGEM, and improve on our current idea. This pushed us to discuss our
        future implementation and amalgamate our design with a commercially-viable solution. At the end of this meeting,
        all the members built an inquisitiveness toward synthetic biology and its applications. Furthermore, their
        various areas of expertise helped us build a certain holisticity to AMPifin.</p>

      <figure class="figure reveal-on-scroll"> <img
          src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-working-class.jpg"
          class="figure-img img-fluid rounded" alt="wokring class members" width="80%">
        <figcaption class="figure-caption text-center"> A snapshot from our interaction with a pool of working-class
          members. </figcaption>
      </figure>

      <h2 class="reveal-on-scroll">Local People Solving Local Problems</h2>

      <p class="reveal-on-scroll">To educate <b>university students</b> on synthetic biology and AMPifin, our team
        decided to hold an interactive and educational session in our university about biology and its relevance in
        engineering.</p>

      <p class="reveal-on-scroll">The session consisted of two phases. During the first phase of this session, we spoke
        to them about biology and how it is integrated into engineering. We explained synthetic biology and iGEM. We
        then spoke to them about iGEM, and in tandem with that, we introduced them to AMPifin. At the end of this
        session, we split the attendees into groups and asked them to generate their own problem statements. We
        explained that the solution to their chosen problem need not be perfect; however, it should reflect on the
        concept of local problems and effective synthetic biology-based solutions to them.</p>

      <p class="reveal-on-scroll">A week later, we conducted the second phase of this session. Every team came up with
        unique and interesting problem statements. They presented their projects in exciting ways and were able to
        answer the audience’s questions. Their ideas brought in a versatile approach to solving local problems. By
        spreading the idea behind iGEM and synthetic biology, we aimed to inspire young scientists to address pressing
        issues. The students underwent a month-long training session that covered the fundamentals of synthetic biology
        before we asked them to string together project ideas. The initiative brought in an exhaustive understanding of
        the various aspects involved in picking a problem statement, understanding its impact, and generating cohesive
        solutions to them.
      </p>

      <p class="reveal-on-scroll">The teams worked on simple solutions to their chosen problem statements. iGEM MIT_MAHE
        mentored them through the process, and ensured to interact with them at every stage of their work. Listed below
        are their problem statements</p>

      <ol class="reveal-on-scroll">
        <li class="reveal-on-scroll">Reducing the thermal heat transfer that takes place in the air conditioning system
          which excessively
          contributes to global warming.</li>
        <li class="reveal-on-scroll">Improving the viability of PGPRs in ginger fields and alleviate the need for
          harmful chemical fertilisers.
        </li>
        <li class="reveal-on-scroll">Blocking the docking of <i>Plasmodium vivax</i> on Reticulocytes. </li>
        <li class="reveal-on-scroll">Addressing the issue of microplastic accumulation by using PETase enzyme from
          <i>Bacillus subtilis</i>.
        </li>
      </ol>

      <div class="row">
        <div class="col-6 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-juniors1.jpg"
              class="figure-img img-fluid rounded" alt="university students">
            <figcaption class="figure-caption text-center"> A snapshot of our interaction with University students on
              synthetic biology and iGEM. </figcaption>
          </figure>
        </div>
        <div class="col-6 reveal-on-scroll">
          <figure class="figure"> <img
              src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-juniors-2.jpg"
              class="figure-img img-fluid rounded" alt="project proposals- mock iGEM">
            <figcaption class="figure-caption text-center"> A snapshot of one of the teams participating in the project
              proposal task. </figcaption>
          </figure>
        </div>
      </div>

      <h1 class="reveal-on-scroll">Workshops</h1>

      <h2 class="reveal-on-scroll">Biology and Experimental Learning</h2>

      <p class="reveal-on-scroll">A student’s interests develop at a young age. Therefore, it is important to expose the
        younger generation to the new fields in science and communication. We believe that this would help them build an
        interest in STEM-based subjects at a younger age, and understand science as a broad subject of study, too. For
        this reason, we decided to go to an elementary and middle school. </p>

      <p class="reveal-on-scroll">We visited the Prajna English Medium School on 11th October 2022. Our team had the
        opportunity to interact with students of a wide age group band, including <b>elementary, primary, and secondary
          school children</b>. For the forty students, we began with a small introduction of our team members to the
        students, and proceeded to talk about basic biology and its integration with engineering. Furthermore, we
        distributed our DIY comic strip and explained our project idea to the students through the snippets of the
        comic.</p>

      <p class="reveal-on-scroll">We invited Ms. Shyamala S Kunder, a member of the National Commission for Women, to
        emphasise the importance of educating young children, paving the way to enhance the literacy rate of our
        country.</p>

      <p class="reveal-on-scroll">The students were able to understand our project in simple terms through the comic
        strips. They were reciprocative during the presentation and understood the importance of sustainable solutions
        in all aspects of life. Being young students, they also gained familiarity with new terms that they would come
        across after a few years. Furthermore, the teachers were keen on understanding AMPifin and explaining it to the
        students.</p>

      <figure class="figure reveal-on-scroll"> <img
          src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-ngo-comic-strip.jpg"
          class="figure-img img-fluid rounded" alt="DIY comic" width="70%">
        <figcaption class="figure-caption text-center"> Our members distributed the DIY AMPifin comic to the school
          children. </figcaption>
      </figure>

      <h2 class="reveal-on-scroll">Microscope Workshop</h2>

      <p class="reveal-on-scroll">The school we visited did not have access to microscopes or lab equipment. Therefore,
        we decided to introduce the school's students to basic lab equipment and their usage. To do this, we decided to
        hold a workshop on <b>microscopes and basic visualisation</b> using them. As part of the workshop, we explained
        to them the building of a microscope and their various applications in viewing organisms. Then, we helped them
        analyse samples of moss, cheek swabs, bacteria from a water body, and red blood cells. The students were
        thoroughly immersed in the activity, and participated with great enthusiasm. Through their observations, they
        deciphered the differences between the various cell structures and their functions.
      </p>

      <h2 class="reveal-on-scroll">Swab Testing Workshop</h2>

      <p class="reveal-on-scroll">Through this workshop, we wanted to show the students the <b>importance of hygiene
          practices</b> and the amounts of germs that reside on their hands. We also wanted to give them a
        representation of how these germs appear on a microscopic level. The second activity we planned for them was a
        swab test of their palms. Before we started this activity, we spoke to these students about the importance of
        washing hands thoroughly, especially in recent times owing to the pandemic. For this, we took a few swab samples
        from their palm. After this, we asked the students to wash their hands using soap and hand sanitiser. We took
        their samples after this. Then, we took these samples back to our university, where we tested the samples and
        communicated with the school teachers about the results we received. This was done to teach the students about
        the importance of washing their hands and following good personal hygiene practices. The students responded
        positively to our session and learnt about simple tests that can be performed. The aforementioned workshops have
        been elaborated on via the attachment below:</p>

      <iframe class="align-self-center my-5 reveal-on-scroll" loading="lazy" height="500px" width="100%"
        title="Workshop pdf" src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-workshop.pdf#zoom=FitW"></iframe>

    </div>
  </div>

  <div class="tab-pane fade" id="pills-communication" role="tabpanel" aria-labelledby="pills-communication-tab">
    <!-- Communication tab content goes here -->
    <div class="row">

      <h1 class="reveal-on-scroll">Overview</h1>

      <p class="reveal-on-scroll">It is true that comprehending scientific advancements is more significant than
        learning about the opportunities they open up. Synthetic biology is not an exception to this; without acceptance
        of the changes it brings, advancement would be meaningless. This was our attempt at communicating our vision and
        values to diverse audiences through different teaching methods.</p>

      <h2 class="reveal-on-scroll">Webinars</h2>

      <h3 class="reveal-on-scroll">Waterborne Pathogens</h3>

      <p class="reveal-on-scroll">In collaboration with Queen’s iGEM, we hosted a webinar on <b>waterborne
          pathogens</b>. Since our project, AMPifin, is associated with <i>Vibrio parahaemolyticus</i>, we wanted to
        spread awareness on various bacteria, viruses, and other pathogens that live in water. Our speakers—Dr. Mamatha
        Ballal and Dr. Cecilia Gimenez—both extremely proficient academicians in their respective fields, set the stage
        by discussing infectious diseases, waterborne pathogens, and the importance of clean water across all
        localities. The webinar saw over sixty attendees from across the regions of Canada and India, including
        university students and scholars. Furthermore, in the Question and Answer portion of the seminar, the audience
        picked up engaging discussion points. They asked the speakers about their work, and interlinked these aspects
        with the webinar’s topic. Furthermore, they were inquisitive about the various methods of detection of these
        pathogens, and the speakers elaborated on all aspects of the questions. To know more about the webinars, check
        our <a href="{{ 'pages' | link_url(page='collaborations') }}">Collaboration</a> page!</p>

      <h3 class="reveal-on-scroll">Entrepreneurship in Bioremediation and Aquaculture</h3>

      <p class="reveal-on-scroll">In collaboration with Queen’s iGEM, we hosted a talk on the different
        <b>synthetic-biology-based entrepreneurial techniques in bioremediation and aquaculture</b>. Sandra Dworatzek, a
        principal scientist at SiREM Canada, discussed her current outline of work in the field. The webinar saw over
        thirty attendees from across the regions of Canada and India, including university students and scholars. She
        elaborated on how the various techniques can be integrated through aspects like entrepreneurship and product
        development with iGEM teams like ours. Furthermore, in the Question and Answer portion of the seminar, the
        audience picked up engaging discussion points. They asked the speaker about their work, and interlinked these
        aspects with the webinar's topic.
      </p>
      <p class="reveal-on-scroll"> To know more about this webinar, view our <a
          href="{{ 'pages' | link_url(page='collaborations') }}"> Collaboration </a> page!
      </p>

      <h3 class="reveal-on-scroll">Biosafety in Synthetic Biology</h3>

      <p class="reveal-on-scroll">To communicate with a wider audience on the <b>importance of biosafety in synthetic
          biology</b> we hosted a webinar in partnership with iGEM IISER Pune II. This webinar aimed to make the general
        audience aware of the essential biosafety measures to be followed while working with synthetic biology in the
        real world.</p>

      <p class="reveal-on-scroll">We invited Dr. Vinod Jyothikumar to deliver this presentation. He received his PhD in
        Pharmaceutical and Biomedical Sciences from Strathclyde University, Glasgow, UK, in 2010 and post-doctoral
        experience from the University of Guelph, Canada—in 2011. He has executed various safety projects within
        research laboratories across reputed academic institutions in Europe, the US, and industry settings. It was an
        extremely interactive and insightful experience. The audience learnt about biosafety practices, dual research
        use, basic lab protocols and their imperativeness in any workspace, and legal regulations that follow any
        project. The participants also had many questions and clarified their doubts and misconceptions of the topic in
        the question and answer session. Through this session, we were able to set the stage on the imperativeness of
        safety in all experiments, and how it integrates itself in any field of work. To know more about this webinar,
        visit our <a href="{{ 'pages' | link_url(page='partnership') }}">Partnership</a> page!</p>

      <h2 class="reveal-on-scroll">Pamphlet on Antibiotics in Aquaculture Industries</h2>

      <p class="reveal-on-scroll">India is the second-largest producer of seafood in the world. Udupi, Manipal, and
        Mangalore contribute to this production significantly. As our project is based on the pisciculture industry, our
        major stakeholders are fish farmers and hatchery owners.</p>

      <p class="reveal-on-scroll">For this reason, team AMPifin decided to research the previously used methods of
        prevention, and we discovered that antibiotics are used as a broad-spectrum solution. Additionally, small-scale
        fish farms or hatchery owners don’t send infected samples to the lab for detection. These fish are directly
        treated with common antibiotics or other methods. Since antibiotics are most commonly misused in this field, we
        decided to work on a pamphlet on the safe usage of antibiotics.</p>

      <p class="reveal-on-scroll">In the pamphlet, we included the common but often overlooked guidelines on their
        usage. We also included a few precautions farmers, and hatchery owners should follow to get a healthy yield of
        produce for a long time. To improve our pamphlet’s reach and readability, we distributed it to various
        communities while ensuring that they were printed in their <b>regional languages</b>—i.e. English, Kannada, and
        Tamil. We distributed them at the various fish farms and hatcheries across Tamil Nadu, Karnataka, and Dubai.
        These pamphlets were well-appreciated and educational. The farmers who received the pamphlets were glad to
        incorporate the guidelines in their day-to-day operation. These pamphlets have been attached below</p>

      <iframe class="align-self-center my-5 reveal-on-scroll" loading="lazy" height="500px" width="100%"
        title="Pamphlets"
        src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-mit-mahe-pamphlet.pdf#zoom=FitW"></iframe>

      <h2 class="reveal-on-scroll">Podcast with The Astronomy Club, Manipal.</h2>

      <p class="reveal-on-scroll">On 7th October, 2022, we collaborated with the Astronomy Club, Manipal to talk about
        synthetic biology and its applications in the space industry. The podcast comprised two members of the Astronomy
        Club and two members of Manipal BioMachines. The podcast started off with an introduction to the respective
        members and iGEM. The discussion was based on how synthetic biology could be used to enhance and use the extreme
        environments of space to our advantage. For example—extremophiles for the elimination of biowaste and synthesis
        of biomaterial, self healing bio-compounds for integrity of the space shuttle, nutrient-rich-space-conserving
        food. There were talks about previous iGEM teams’ projects that built on the motive of improving space travel
        quality for the travellers by integrating pure synthetic biology-based components.</p>

      <p class="reveal-on-scroll">This podcast was an opportunity for us to help include all those interested in
        astronomy to synthetic biology. It was also a learning opportunity for our team since we were able to speak to
        astrophiles. This helped us understand the areas of intersection between synthetic biology and astronomy. To
        check the audio, visit our <a href="{{ 'pages' | link_url(page='collaborations') }}">collaboration</a> page!</p>

      <h2 class="reveal-on-scroll">DIY Comic Strip</h2>

      <p class="reveal-on-scroll">To foster interest in synthetic biology and biotechnology in children, we decided to
        create a comic book. The theme of this comic book is based on our project—AMPifin. Through this comic strip, we
        aim to teach the younger generation that biology is not a niche subject and that synthetic biology is an
        interesting field to study and work in. In this comic strip, we follow a fish called Juno and its underwater
        adventures as it learns about the pathogen—<i>Vibrio parahaemolyticus</i>, and the disease caused by it—i.e.,
        vibriosis. Furthermore, we distributed this comic strip to children and students across our locality, and they
        thoroughly enjoyed reading it! Below is a digital version of our strip</p>

      <iframe class="align-self-center my-5 reveal-on-scroll" loading="lazy" height="500px" width="100%"
        title="Comic strip" src="https://static.igem.wiki/teams/4200/wiki/pdfs/igem-comic.pdf#zoom=FitW"></iframe>

      <figure class="figure reveal-on-scroll"> <img
          src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-ngo-comic-strip.jpg"
          class="figure-img img-fluid rounded" alt="comics at Prajna" width="70%">
        <figcaption class="figure-caption text-center"> A snapshot of our member distributing the comic at Prajna
          English Medium School, Manipal. </figcaption>
      </figure>

      <h2 class="reveal-on-scroll">Ethics Round Table</h2>

      <p class="reveal-on-scroll">Our college, Manipal Institute of Technology, currently has seventeen student
        projects. To broaden our dialogue on AMPifin, we decided to talk to members of various interdisciplinary
        projects about the ethical aspects of our project, and synthetic biology at large. For this—i.e., the Ethics
        Roundtable, on 22nd September 2022, we invited members from <a
          href="https://www.instagram.com/rugved_systems/">R.U.G.V.E.D Systems</a>, <a
          href="https://www.instagram.com/formulamanipal/">Formula Manipal</a>, <a
          href="https://www.instagram.com/project.manas/">Project Manas</a> , <a
          href="https://www.instagram.com/thrustmit/">Thrust MIT</a>, <a
          href="https://instagram.com/swarmrobotics/">SWARM Robotics</a>, <a
          href="https://www.instagram.com/teammanipalracing/">Team Manipal Racing </a>, <a
          href="https://www.instagram.com/aeromitofficial/">Aero MIT</a>, and <a
          href="https://www.instagram.com/project.dronaid/">Project Dronaid</a>.</p>

      <p class="reveal-on-scroll">We urged them to talk about the safety protocols they followed through their projects
        that fall under various engineering subjects like mechanics, electronics, computer science and artificial
        intelligence, to name a few. We began by simply elucidating on AMPifin, keeping in mind their scientific
        background. After this, we asked every student to explain their projects. As the ethics roundtable progressed,
        we asked them about the safety protocols they follow at their workspaces, and we elaborated on our lab safety
        protocols.</p>

      <p class="reveal-on-scroll">Through this, we establish the imperativeness of safety protocols in any experimental
        setup. We asked them what they thought might be the safety issues associated with our project and their
        interpretation of any safety measures we could implement. The discussion panel shifted toward an enthusiastic
        dialogue on their interpretation of biosafety issues, and it helped us perceive the general opinion on synthetic
        biology-based projects. They also asked us questions based on the general idea behind synthetic biology and what
        it involves. Furthermore, we explained the concept of genetic engineering and its ethical concerns. The
        interaction was extremely fruitful as the raised points brought a better understanding of synthetic biology for
        a wider community. Additionally, it created room for numerous interdisciplinary aspects that we could explore.
      </p>

      <figure class="figure"> <img
          src="https://static.igem.wiki/teams/4200/wiki/communication-final/communication-ethics-rt-1.jpg"
          class="figure-img img-fluid rounded" alt="Ethics roundtable" width="60%">
        <figcaption class="figure-caption text-center"> Our team interacting with the various members at the Ethics
          Roundtable. </figcaption>
      </figure>

      <h2 class="reveal-on-scroll">Geo Book</h2>

      <p class="reveal-on-scroll">In the spirit of sharing and understanding seafood within the context of different
        cuisines and localities, MIT_MAHE’s iGEM team decided to collaborate on a compendium of dishes that involve
        aquatic animals.</p>

      <p class="reveal-on-scroll">The main aim of the Geo Book was to celebrate diversity and bring more recognition to
        what affects our favourite palates of seafood. Furthermore, it brought light to any unsustainable practices
        involved in their breeding. All the participating teams included details and photographs of their favourite
        kinds of seafood, and our team compiled them for inquisitive readers, and of course, seafood connoisseurs!</p>

      <p class="reveal-on-scroll">The Geo Book was designed to help the general public understand the various topics
        that are associated with seafoods. The teams that participated were iGEM REC Chennai, iGEM IISER Pune II, iGEM
        Chalmers_Gothenburg, iGEM William and Mary, iGEM Vilnius-Lithuania 2022, iGEM HKUST, iGEM Pinene Express, iGEM
        TecCEM, iGEM Queens_Canada. To view the book, check our <a
          href="{{ 'pages' | link_url(page='collaborations') }}">Collaboration</a> page.</p>

    </div>

  </div>

</div>

{% endblock %}