{% extends "layout.html" %}

{% block title %}Project Description{% endblock %}
{% block lead %}How and why we chose our iGEM project{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <h1>Introduction</h1>
  <p>Fish has continued to be a vital part of our diet since ancient times. The annual fish consumption has increased
    not in India but around the globe as well. This has led to the development of an extensive aquaculture industry, but
    unfortunately, due to excessive industrialisation procedures, over-intensive exploitation, and poorly managed
    aquaculture farms have resulted in the establishment of significant bacterial disease epidemics in aquaculture.
    These bacteria can be transmitted by the consumption of raw or undercooked fish which are infected, and can lead to
    severeserious symptoms in humans, including but not limited to vomiting, diarrhoea and abdominal pain. ToSo as to
    terminate this issue, it is important to target the infection cycle in its early stages to prevent the bacteria from
    infecting the fish. </p>

  <h2>The problem</h2>
  <p>One of the most prevalent bacterial infections affecting a variety of marine fish and shellfish is Vibriosis. It
    leads to significant economic loses and affects multiple sectors, thus hindering the development of the country.
    Several Vibrionaceae species have been linked to vibriosis in marine animals. According to a recent study, the most
    prevalent species affecting aquaculture farms are V. parahaemolyticus, V. alginolyticus, V. harveyi, V. owensii, and
    V. campbelli. The pathogenicity of these species is aided by a wide range of virulence factors, which allows them to
    infect a wide range of hosts.(1.https://sci-hub.hkvisa.net/10.1002/aah.10045)</p>
  <p>In humans, Vibriosisvibriosis results in acute gastroenteritis after consuming raw, undercooked, or improperly
    handled marine food. Occasionally, cases of septicaemia, ear infections, or wound infections in people who already
    have medical issues are seen (2.https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4263241/ ). In fishes, Vvibriosis
    exhibits symptoms like fatigue and necrosis of the skin and appendages, which causes malformations of the body,
    delayed development, liquefaction of internal organs, blindness, opacity of the muscles, and eventual
    death.(1.https://sci-hub.hkvisa.net/https://doi.org/10.1002/aah.10045).</p>
  <p>Our bacteria of interest to tackle this infection in fishes is Vibrio parahaemolyticus. It is a gram-negativegram
    negative halophile which has been found in estuaries and maritime environmentsenvironment
    (2.https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4263241/ ).V. parahaemolyticus Vp consists of a novel adhesion
    factor called Multivalent Adhesion Molecule 7 (MAM7)—a surface protein present on the bacteria. MAM7 (location) ,
    which It is responsible for the initial host-pathogen adhesion and can trigger the up-regulation of additional
    adhesins and virulence factors that are unique to the pathogen and the host cell. MAM7 on the bacteria forms a
    tripartite complex with the protein, fibronectin and the ligand, phosphatidic acid. It has been extensively studied
    in V. parahaemolyticus and hence it deemed to be fit for this study
    (3.https://sci-hub.hkvisa.net/10.1074/jbc.M111.291377 )</p>
</div>

<h1>Current solutions</h1>
<p>Currently, there are multiple solutions to this infection;,however, but antibiotics still till date remain to be the
  most popular strategy for treating and preventing this V. parahaemolyticus infection in fish. Antibiotics are
  frequently used with fish diets or baths to treat bacterial illnesses in real life. Antibiotic overuse has led to the
  emergence of multidrug resistance in severala number of dangerous bacteria, including Vibrios
  (4.https://pubmed.ncbi.nlm.nih.gov/27052711/). Every year, millions of fish are vaccinated toTo combat the problem of
  antibiotic resistance, every year, millions of fish are vaccinated. Though compared to antibiotics, vaccines are a
  better prevention strategy they also have their own drawbacks. Commercial vaccines are not economical, and labour and
  time intensive. Every method of innocultion of these vaccines have their own disadvantages. The efficacy of an oral
  vaccine is low due to the degradation of the antigens present in the vaccines. Immerwsion vaccines require a large
  quantity of the vaccine., Furthermore, they are not efficient and they also provide iimmuntiy for a very short period
  of time. As for the injection vaccines, they sare not suitable for fish that are small in size., Moreover, the fish
  also need to be starved and anaesthesiszed for their protection which is detrimental to in turn causes more harm to
  the fish. (5.https://sci-hub.hkvisa.net/10.1111/are.15114).
</p>

<h2>Our solution</h2>
<p>Our solution involves the synthesis of a novel antimicrobial peptide that can bind to the protein MAM7 on the
  bacteria, thus preventing the infection.</p>

<h2>References</h2>
<ul>
  <li>Ina-Salwany, M. Y., Al-saari, N., Mohamad, A., Mursidi, F. A., Mohd-Aris, A., Amal, M. N. A., Kasai, H., Mino, S.,
    Sawabe, T., & Zamri-Saad, M. (2019). Vibriosis in Fish: A Review on Disease Development and Prevention. Journal of
    Aquatic Animal Health, 31(1), 3–22. https://doi.org/10.1002/AAH.10045 </li>
  <li>Letchumanan, V., Chan, K. G., & Lee, L. H. (2014). Vibrio parahaemolyticus: a review on the pathogenesis,
    prevalence, and advance molecular identification techniques. Frontiers in Microbiology, 5(DEC).
    https://doi.org/10.3389/FMICB.2014.00705 </li>
  <li>Krachler, A. M., & Orth, K. (2011). Functional characterization of the interaction between bacterial adhesin
    Multivalent Adhesion Molecule 7 (MAM7) protein and its host cell ligands. Journal of Biological Chemistry, 286(45),
    38939–38947. https://doi.org/10.1074/JBC.M111.291377 </li>
  <li>Elmahdi, S., DaSilva, L. V., & Parveen, S. (2016). Antibiotic resistance of Vibrio parahaemolyticus and Vibrio
    vulnificus in various countries: A review. Food Microbiology, 57, 128–134. https://doi.org/10.1016/J.FM.2016.02.008
  </li>
  <li>Ben Hamed, S., Tapia-Paniagua, S. T., Moriñigo, M. Á., & Ranzani-Paiva, M. J. T. (2021). Advances in vaccines
    developed for bacterial fish diseases, performance and limits. Aquaculture Research, 52(6), 2377–2390.
    https://doi.org/10.1111/ARE.15114 </li>

  {% endblock %}