{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}IHP{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">

        <p>Academia</p>
      </div>
      <div class="col">
        <p>Companies</p>
      </div>
      <div class="col">
        <p>Outreach</p>
      </div>
      <div class="col">
        <p>Doctors</p>
      </div>
      <div class="col">
        <p>Entrepreneurs</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="col">
      <div class="ihp-circle">
        November '21
      </div>
    </div>
    <div class="col">
      <div class="ihp-bar"></div>
    </div>
    <div class="col">
      <p class="ihp-text">Mr. Kaushik Alike</p>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <div class="ihp-circle">

      </div>
    </div>
  </div>
</div>

{% endblock %}