{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}IHP{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <span class="ihp-circle" style="background: #D8C200;"></span>
        <p>Academia</p>
      </div>
      <div class="col">
        <span class="ihp-circle" style="background: #FF0000;"></span>
        <p>Companies</p>
      </div>
      <div class="col">
        <span class="ihp-circle" style="background: #2020F1;"></span>
        <p>Outreach</p>
      </div>
      <div class="col">
        <span class="ihp-circle" style="background: #429F89;"></span>
        <p>Doctors</p>
      </div>
      <div class="col-3">
        <span class="ihp-circle" style="background: #002F40;"></span>
        <p>Entrepreneurs</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <img src="https://static.igem.wiki/teams/4200/wiki/human-practices/ihp-timeline.png" alt="IHP Timeline">
</div>

{% endblock %}