{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}IHP{% endblock %}

{% block page_content %}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item col-3" role="presentation">
    <button class="nav-link active" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview"
      type="button" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</button>
  </li>
  <li class="nav-item col" role="presentation">
    <button class="nav-link" id="pills-engagement-tab" data-bs-toggle="pill" data-bs-target="#pills-engagement"
      type="button" role="tab" aria-controls="pills-engagement" aria-selected="false">Community Engagement</button>
  </li>
  <li class="nav-item col" role="presentation">
    <button class="nav-link" id="pills-IHP-tab" data-bs-toggle="pill" data-bs-target="#pills-IHP" type="button"
      role="tab" aria-controls="pills-IHP" aria-selected="false">Integrated Human Practices</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
    <!-- Overview tab content goes here -->
    <div class="row">
      <h2>Introduction</h2>
      <p>One of the most prevalent bacterial infections affecting various marine fish and shellfish is vibriosis.
        Vibriosis is a serious disease in fish, crustaceans and shellfish as recognised by the FAO, United Nations. It
        leads to significant economic losses and affects multiple sectors, thus hindering the development of the
        country. According to a recent study, the most prevalent species triggering vibriosis in aquaculture farms are
        <i>Vibrio parahaemolyticus, Vibrio alginolyticus, Vibrio harveyi, Vibrio owensii, and Vibrio campbelli</i>. The
        pathogenicity of these species is aided by a wide range of virulence factors, which allows them to infect a
        wide range of hosts [1].
      </p>

      <p>Our aim through AMPifin is to improve pisciculture operations, and consequently increase the yield of fish in
        the market—a major part of various Indian states’ staple diets. This approach would immensely benefit the
        economy and fisherfolk by facilitating a sustainable pisciculture industry. AMPifin is a sustainable solution to
        vibriosis in fish. In line with our project’s work, we carried out extensive work concerning human practices.
      </p>
      <h2>Problems</h2>

      <p>The idea for the project provided us with a plethora of possibilities, but our literature research and
        responsibility toward the marine populations reiterated our sense of commitment to prioritise a sustainable
        approach through our solution. Nevertheless, we encountered numerous challenges during our ideation, research,
        and experimentation process. We considered how our team could cushion the pisciculture industry. We knew that
        for our initiative to be successful, we needed to combine and maximise the best aspects of our core values,
        scientific reasoning, and community involvement.</p>
      <h2>Solutions</h2>

      <p>During the initial stages of our project, we talked to a fish farm owner who introduced us to the disease
        Vibriosis. We discovered that <i>Vibrio parahaemolyticus</i> is the causative bacteria. Our project’s work began
        by interacting with an expert in the field of computational biology who guided us on the engineering and
        designing aspects of our peptide. Through continuous interactions, we received the idea of mimicking
        fibronectin. As we progressed, we met with some experts who stressed the imperativeness of biosafety aspects and
        guided us toward a safe delivery mechanism—i.e., implementing chitosan nanoparticle encapsulation instead of
        bacterial encapsulation. Moreover, they drew our attention to the possible side effects of biomagnification;
        hence, we ran a toxicity and allergen test on our peptide. As AMPifin came together, we interacted with numerous
        stakeholders and introduced them to our solution. Through our correspondence, we established a connection with
        an all-inclusive demographic.</p>

      <h2>Stakeholder approach</h2>

      <p>We received numerous comments and ideas after holding several meetings and conversations with specialists,
        researchers, professors, and farmers. These conversations provided valuable feedback that improved the areas we
        overlooked in our project and recommended strategies to speed up its development. Without these interactionss,
        AMPifin would be considerably different. To better our approach at each stage, we engaged in a fruitful dialogue
        with various stakeholders. We conversed with multiple industry specialists, academia, the general public,
        students, and our project's target consumer—the fisherfolk. This paved the way for our project’s advancement,
        and helped us reflect on AMPifin’s objectives effectively. It enabled us to identify the many issues or flaws in
        our project and identify better solutions with supplementary advantages. Overall, the project benefited by
        knowing the stakeholders' viewpoints and how human practices affected the project. It helped the project
        represent its objectives in the most effective way possible. The need to interact with project stakeholders was
        crucial to us. We benefitted immensely from considering the potential effects our initiative may have on them
        and learning about their viewpoints on the matter. The stakeholders we identified are all mentioned here, along
        with an explanation of why we contacted them and what we discovered.</p>

      *insert stakeholder division graphic*

      <h2>Outreach</h2>
      <p>For our integrated human practices and outreach, reaching out to fish farmers was crucial. We gathered
        information on prevalence, current solutions, and the viability of AMPifin through these visits. The visits
        covered numerous locations, both national and international.</p>

      <h2>Academia</h2>
      <p>We sought input from professors working in the field on various techniques, including the viability of our
        models. Whether it came to our literature surveys or our experimental design, their overall perspectives on our
        project as subject-matter experts was extremely valuable. Furthermore, to find out the professional-scale
        research being conducted on our project’s topics that were relevant to our project, we contacted members from
        research institutes.</p>

      <h2>Companies</h2>
      <p>We contacted companies in the fields of biotechnology-based companies, synthetic biology-based companies,
        aquaculture-based companies, and experts in the research and development fields of various companies. Their
        input shaped our solution’s commercial viability.</p>

      <h2>Entrepreneurs</h2>
      <p>To improve our study of novel approaches such as ours, we wanted to connect with experts in entrepreneurship.
        They helped us understand how we can work on the future upscaling of our project and the band of stakeholders
        that would be important to us.</p>

      <h2>Doctors</h2>
      <p>Vibriosis is a disease that affects humans and fish, and to understand its impact in both cases, we consulted
        doctors who helped us analyse the impact and medical solutions. Through these interactions, we learnt the
        symptoms and treatment methods of vibriosis in humans. Additionally, we gained more information on the
        pathogenicity and virulence of <i>V. parahaemolyticus</i>.</p>
      <h2>Our values</h2>
      *insert R’s graphic*
      <h3>Responsible</h3>
      <p>As iGEM is a competition based on synthetic biology, there are several biosafety issues that could emerge. Our
        target organism — <i>Vibrio parahaemolyticus</i> is a risk-2 organism. In order to avoid any sort of hazard that
        could possibly exist, we decided to not work with this organism for our experiments. Instead, we decided to
        express our target molecule – MAM7 in our <i>E.coli</i>.
      <p>
      <h3>Reflective</h3>
      <p>Our IHP and community engagement formed the backbone of our project. The conversations we had with the multiple
        individuals helped us gain a holistic perspective of the problem. The insights and opinions helped us shape our
        project. After every interaction, our team would sit together and reflect upon the content of the meetings in
        order to make improvements to our solution to make it more sustainable.</p>
      <h3>Responsiveness</h3>
      <p>Following our session on reflection on the IHP meetings or community engagement programs, we implement their
        opinions into our project to the best of our ability. Since this project was created in order to help out the
        local people and the problems they face, incorporating their opinions and needs into our project was crucial.
        Our project trajectory changed majorly due to their inputs. Public opinion is a key aspect for development of
        any product, and thereby it has contributed majorly for the amalgamation of our project.</p>
      <h2>References</h2>
      <ol>
        <li>M. Y. Ina-Salwany et al., “Vibriosis in Fish: A Review on Disease Development and Prevention,” J. Aquat.
          Anim. Health, vol. 31, no. 1, pp. 3–22, Mar. 2019, doi: 10.1002/AAH.10045.
        </li>
      </ol>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-engagement" role="tabpanel" aria-labelledby="pills-engagement-tab">
    <!-- Engagement tab content goes here -->
  </div>
  <div class="tab-pane fade" id="pills-IHP" role="tabpanel" aria-labelledby="pills-IHP-tab">
    <!-- IHP tab content goes here -->
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <span class="ihp-circle" style="background: #D8C200;"></span>
            <p>Academia</p>
          </div>
          <div class="col">
            <span class="ihp-circle" style="background: #FF0000;"></span>
            <p>Companies</p>
          </div>
          <div class="col">
            <span class="ihp-circle" style="background: #2020F1;"></span>
            <p>Outreach</p>
          </div>
          <div class="col">
            <span class="ihp-circle" style="background: #429F89;"></span>
            <p>Doctors</p>
          </div>
          <div class="col-3">
            <span class="ihp-circle" style="background: #002F40;"></span>
            <p>Entrepreneurs</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <img src="https://static.igem.wiki/teams/4200/wiki/human-practices/ihp-timeline.png" alt="IHP Timeline">
    </div>
  </div>
</div>

{% endblock %}