{% extends "layout.html" %}

{% block title %}Proposed Implementation{% endblock %}

{% block page_content %}

<div class="row">
  <p>The Food and Agriculture Organisation of the United States has reported that about 35% of the global aquaculture harvest is either lost or emaciated [1]. Significant <b>economic losses</b> are reported by pathogens in the water, responsible for inducing lethal diseases.[2]</p>
  <p>From our Human Practice visits and Integrated Human Practice meetings, we found out that vibriosis is a disease that surges in commercial units due to higher impact of the <b>stress factors</b>. It is also quite prominent in cultivating setups and stages. Hence, ceasing this infection in its initial stages was necessary. Our solution, AMPifin, was created specifically for the aforementioned reasons. 
  </p>
  <p><b>Accessibility and affordability</b> to a wide range of technologically advanced treatment methods is still an area of deficit.  Antibiotics are no longer effective against numerous pathogenic diseases in aquaculture systems [3].
  </p>
  <p>In an effort to prevent them from facing any future economic loss, we propose them to be one of the many end users
    of our product. </p>
  <p>After successfully designing our peptide in-silico, we needed a <b>delivery mechanism</b> that could be implemented after
    successful Wet Lab testing.
  </p>
  <h2>Chitosan Nanoparticle Encapsulation</h2>
  <p>Chitosan nanoparticle encapsulation is our chosen delivery mechanism. Chitosan is an N-acetyl derivative of chitin.
    It has been widely explored in the field of <b>drug delivery, food processing industry</b> and has been reported to exhibit
    <b>immunomodulatory properties</b> [4].
  </p>
  <p>Chitosan nanoparticles, in particular, have gained attention in drug delivery due to their properties like—enhanced
    <b>stability, low toxicity, biocompatible and biodegradable</b> [5], simple and mild preparation methods and flexible
    administration routes due to their sub-micron size [6].
  </p>
  <p>The interaction studies would determine the nuances of the delivery mechanism, helping us obtain the optimum
    concentration of our peptide and subsequently decide the dosage parameters.
  </p>

  <ol>
    Chitosan nanoparticles are usually incorporated with the drug in two ways:
    <li>By addition of the drug to the chitosan solution</li>
    <li>By addition/loading of the drug onto the chitosan nanoparticles formed from ionic gelation</li>
  </ol>

  <p>Various procedures exist for the making of CSNPs, such as—Ionic gelation, Microemulsion, Reverse micellar,
    Emulsification diffusion solvent, Polyelectrolyte complex method, etc [7].
  </p>

  <h2>Delivery Setup</h2>
  <p>RAS stands for <b>Recirculatory Aquaculture System</b>. The speciality of this system is that the water is recycled and
    reused after subjecting it to certain treatment steps. These steps are used for high-density culture of various
    species of fish which make use of minimum land area and water.
  </p>
  <p>A standard RAS comprises several <b>filter designs</b> which remove metabolic wastes, excess nutrients, solids, etc in an
    effort to provide good water quality for aquatic life. India has seen a boom in the application of RAS in the
    industry in the past decade for <b>sustainable practices</b> [8]. This is where AMPifin finds its most appropriate
    application.
  </p>
  <p>Given the standard design and features of an RAS, it is easy to integrate our peptide as a solution to vibriosis in
    the fish. We came up with a setup such that our peptide encapsulated chitosan nanoparticles would be immobilised
    onto a <b>Polyvinyl chloride (PVC) mesh</b>. This mesh would be subjected to the inlet of the pipe of the RAS.
  </p>
  <p>Shown below is the design of the future implementation of our product:
  </p>
<figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/implementation/cad-design-implementation.jpeg" class="figure-img img-fluid rounded" alt="CAD design of delivery set-up incorporated in a RAS model">
    <figcaption class="figure-caption text-center">
        Fig 1: CAD design of delivery set-up incorporated in a RAS model.
    </figcaption>
</figure>
  <p>Initially our design was going to be a single thin mesh covered with our peptide loaded chitosan nanoparticles. In
    the many HP visits that we had, we realised that it is difficult to make use of thin meshes as a filter due to the
    influence of the high flow rate. In such conditions, there are chances that the turbulent flow will wear off the
    mesh.
  </p>
  <p>Hence, a sustainable way to integrate this mesh was by introducing a thicker mesh stack at the bypass. In
    accordance with the RAS systems widely used in the industry [9], we plan on integrating our mesh accordingly. </p>
    <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/implementation/igem-mit-mahe-delivery-set-up.png" class="figure-img img-fluid rounded" alt="Final flow of the delivery mechanism" width="40%">
    <figcaption class="figure-caption text-center">
        Fig 2: Final flow of the delivery mechanism.
    </figcaption>
</figure>
    <p>The mesh stack will be subjected to the bypass of the inlet pipe, connecting between the reservoir and the first
    tank. This would subject all the water flowing into the tanks for the fish, to interact with our peptide that will
    gradually be released into the water. </p>
    

  <h2>References</h2>
  <ol>
    <li>[1] The State of World Fisheries and Aquaculture 2020. FAO, 2020. doi: 10.4060/ca9229en.</li>
    <li>[2] T. Håstein, A. D. Scarfe, and V. L. Lund, “Science-based assessment of welfare: aquatic animals.,” Rev. Sci.
      Tech., vol. 24, no. 2, pp. 529–47, Aug. 2005.</li>
    <li>[3] A. Assefa and F. Abunna, “Maintenance of Fish Health in Aquaculture: Review of Epidemiological Approaches
      for Prevention and Control of Infectious Disease of Fish,” Vet. Med. Int., vol. 2018, pp. 1–10, 2018, doi:
      10.1155/2018/5432497. </li>
    <li>[4] G. Guan et al., “Biological Effects and Applications of Chitosan and Chito-Oligosaccharides,” Front.
      Physiol., vol. 10, May 2019, doi: 10.3389/fphys.2019.00516.</li>
    <li>[5] W. Paul and C. P. Sharma, “Enteric Coating of Polyclonal Antibody for Colon Delivery View project,” 2000,
      Accessed: Oct. 12, 2022. [Online]. Available: https://www.researchgate.net/publication/236898063</li>
    <li>[6] V. Mikušová and P. Mikuš, “Advances in Chitosan-Based Nanoparticles for Drug Delivery,” Int. J. Mol. Sci.
      2021, Vol. 22, Page 9652, vol. 22, no. 17, p. 9652, Sep. 2021, doi: 10.3390/IJMS22179652.</li>
    <li>[7] A. Mesa, G. S. S. Mythatha, R. S. Lodi, S. Ravuri, and R. Balli, “Chitosan Nanoparticles: An Overview on
      Preparation, Characterization and Biomedical Applications,” 2021, pp. 393–427. doi: 10.1007/978-981-15-9916-3_17.
    </li>
    <li>[8] National Fisheries Development Board, “RECENT TRENDS IN AQUACULTURE Recirculatory Aquaculture System
      (RAS).”, Available: https://nfdb.gov.in/PDF/RAS%20RT.pdf</li>
    <li>[9] “RAS Roundtable: Feeding Strategies to Maintain Optimal Water Quality and Fish Performance.”
      https://www.innovasea.com/ras-roundtable-feeding-strategies-to-maintain-optimal-water-quality-and-fish-performance/
      (accessed Oct. 11, 2022).</li>
  </ol>


</div>

{% endblock %}
