{% extends "layout.html" %}

{% block title %}AMPIFIN{% endblock %}
{% block lead %}<b>Anti-Microbial Peptides</b> to tackle <i>vibriosis</i>{% endblock %}

{% block page_content %}

<!-- <img src="https://static.igem.wiki/teams/4200/wiki/logo.svg" class="logo-home"> -->

<!-- <div class="fish-container">
  <div class="fish">
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
  </div>
  <div class="fish">
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
  </div>
</div> -->

<div class="row">
  <div class="col-5">
    <h1 class="display-6">
      <i><b>India</b> is the <b>\(3^{\text{rd}}\) largest</b> fish-producing nation</i>
      </p>
  </div>

  <div class="row">
    <div class="col-6">
    </div>

    <div class="col-6">
      <p class="h2">
        <i><small class="text-muted">The \(2^{\text{nd}}\) largest aquaculture nation</small></i>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <p class="lead">
        An increase in the production demand has led to over-exploitative methods of cultivation. This has triggered the
        establishment of subsequent bacterial and viral diseases, causing major economic loss.</p>
    </div>
  </div>

  <img src="" alt="*World map">

  <img src="" alt="*Fish with bacteria">

  <div class="row">
    <div class="col-7">
      <p class="h2">Vibriosis is a bacterial infection caused by the vibrio species. <br><br> It causes weariness,
        necrosis of the skin and appendages, leading to body malformation, and eventually, mortality of fishes.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="display-1">
        Our solution:
      </p>
    </div>
  </div>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="h1">An antimicrobial peptide that would bind to MAM7 — A surface protein present on the bacteria, and
        inhibit adhesion to the fish.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      iGEM MIT_MAHE 2022
    </figcaption>
  </figure>

  <img src="" alt="*Animation">

  <div class="row">
    <div class="col-12">
      <p class="h2">The peptide will be encapsulated in <span class="badge rounded-pill bg-warning text-dark">Chitosan
          Nanoparticles</span></p>
    </div>
  </div>

  <img src="" alt="*Implementation elements">

  <p class="lead">To learn more about <b>AMPifin</b>, visit the other pages.</p>
</div>

{% endblock %}