{% extends "layout.html" %}

{% block title %}AMPIFIN{% endblock %}
{% block lead %}<b>Anti-Microbial Peptides</b> to tackle <i>vibriosis</i>{% endblock %}

{% block page_content %}

<!-- <img src="https://static.igem.wiki/teams/4200/wiki/logo.svg" class="logo-home"> -->

<div class="fish">
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
  </div>
  <div class="fish">
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
    <div class="koiCoil"></div>
  </div>
  <div class="seaLevel"></div>

{% endblock %}