{% extends "layout.html" %}

{% block title %}Medals{% endblock %}

{% block page_content %}

<div class="row">

    <h1 class="reveal-on-scroll">🥉 Bronze medal criteria</h1>

    <ol class="reveal-on-scroll">
        <li>
            <h2 class="reveal-on-scroll">Competition Deliverables</h2>
            <ul>
                <li>
                    <h3 class="reveal-on-scroll">Wiki</h3>
                    <p class="reveal-on-scroll">You are currently browsing through our <a
                            href="{{ url_for('index') }}">Wiki</a>; we hope you like it!</p>
                </li>
                <li>
                    <h3 class="reveal-on-scroll">Project Promotion Video</h3>
                    <p class="reveal-on-scroll">To know about what our project is in under two minutes, do check out our
                        <a href="https://video.igem.org/w/4rvnqWVgHiCyDfSQSTu8Wv">Promotional Video</a>.
                    </p>
                <li>
                    <h3 class="reveal-on-scroll">Judging form </h3>
                    <p class="reveal-on-scroll">Our <a href="https://old.igem.org/2022_Judging_Form?id=4200">Judging
                            Form</a> is an all-encompassing view of the medal criteria requirements.</p>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Attributions</h2>

            <p class="reveal-on-scroll"> Check out our <a href="{{ url_for('pages', page='team') }}">Team</a> and the <a
                    href="{{ url_for('pages', page='attributions') }}">Attributions</a> page to learn about the
                contributions made by each of our team members.
            </p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Project description</h2>

            <p class="reveal-on-scroll"> AMPifin is a sustainable solution to vibriosis which employs a novel
                antimicrobial peptide synthesised by us. <br>(Find out more on our <a
                    href="{{ url_for('pages', page='description') }}">Description</a> page)</p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Contribution </h2>

            <p class="reveal-on-scroll">Our <a href="{{ url_for('pages', page='software') }}">Software</a>, GRASP,
                mutates peptide sequences through Alanine Scanning.</p>
        </li>
    </ol>

    <h1 class="reveal-on-scroll">🥈 Silver medal criteria</h1>

    <ol>
        <li>
            <h2 class="reveal-on-scroll">Engineering success</h2>

            <p class="reveal-on-scroll">Our <a href="{{ url_for('pages', page='engineering') }}">Engineering Success</a>
                shows the Design-Build-Test-Learn (DBTL) cycle for the modification cycle of the peptides.</p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Collaborations</h2>

            <p class="reveal-on-scroll">We collaborated with other iGEM teams to help further each other's projects and
                advance the synthetic biology community in India. (Check out our <a
                    href="{{ url_for('pages', page='collaborations') }}">Collaborations</a> page)</p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Human practices</h2>

            <p class="reveal-on-scroll">For <a href="{{ url_for('pages', page='human-practices') }}">Human
                    Practices</a>, we extended our outreach to the community by showcasing the impact of our problem and
                solution.</p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Proposed implementation</h2>

            <p class="reveal-on-scroll">AMPifin finds its <a
                    href="{{ url_for('pages', page='implementation') }}">Implementation</a> in RAS by employing a
                mesh-stack subjected at the inlet of the first tank in the system.</p>
        </li>
    </ol>

    <h1 class="reveal-on-scroll">🥇 Gold medal criteria</h1>

    <ol>
        <li>
            <h2 class="reveal-on-scroll">Integrated human practices</h2>

            <p class="reveal-on-scroll">Our <a href="{{ url_for('pages', page='human-practices') }}">Integrated Human
                    Practices</a> is a culmination of all the interactions, visits, and input we received through our
                broader base of stakeholders.</p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Project modelling </h2>

            <p class="reveal-on-scroll">Our mathematical model explains the relation between the amount of peptide
                needed for a specific amount of fibronectin present in the system. Additionally, it reflects the
                analysis of the molecular dynamics simulation of the peptide. (Our <a
                    href="{{ url_for('pages', page='model') }}">Modelling</a> page)
            </p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Partnership</h2>

            <p class="reveal-on-scroll">We partnered with <a href="https://2022.igem.wiki/iiser-pune2-india/">iGEM IISER
                    Pune II</a> to help improve each other's projects. Via this
                <a href="{{ url_for('pages', page='partnership') }}">Partnership</a>, we were successful in establishing
                a valuable exchange of information which aided in structuring our projects.
            </p>
        </li>

        <li>
            <h2 class="reveal-on-scroll">Education and communication</h2>

            <p class="reveal-on-scroll">As part of our <a href="{{ url_for('pages', page='communication') }}">Education
                    and Communication initiatives</a>, we expounded and discussed the rudimentary aspects of synthetic
                biology and iGEM to various target audiences through our interactions with the working class population,
                undergraduate, high school, middle school, and differently-abled students.
            </p>
        </li>
    </ol>

</div>

{% endblock %}