{% extends "layout.html" %}

{% block title %}Medals{% endblock %}
{% block lead %}Judging criteria{% endblock %}

{% block page_content %}

<div class="row">
    <h1>Bronze medal</h1>
    <ol>
        <li>
            <h3>Competition Deliverables</h3>
            <ul>
                <li>
                    <h5>Wiki</h5>
                    <p>You are currently browsing through our <a href="https://2022.igem.wiki/mit-mahe/">wiki</a>; we
                        hope you're liking it!</p>
                </li>
                <li>
                    <h5>Project Promotion Video</h5>
                    <p>To know about what our project is in under 2 min, do check out our <a>Promo Video</a>.</p>
                <li>
                    <h5>Judging form </h5>
                    <p>Our <a href="">Judging Form</a>.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3>Attributions</h3>
            <p>
                Check out our <a href="https://2022.igem.wiki/mit-mahe/team">Team</a> and the <a
                    href="https://2022.igem.wiki/mit-mahe/attributions">Attributions</a> page to learn about the
                contributions made by each
                one of our team members.
            </p>
        </li>
        <li>
            <h3>Project description</h3>
            <p>
                Ampifin is a sustainable solution to vibriosis which employs a novel antimicrobial peptide synthesized
                by us. <br>(Find out more on our <a href="https://2022.igem.wiki/mit-mahe/description">Description</a>
                page)</p>
        </li>
        <li>
            <h3> Contribution </h3>
            <p>Our <a>Software</a>, GRASP, mutates peptide sequences through Alanine Scanning.</p>
        </li>
    </ol>
    <h1>Silver medal</h1>
<ol>
<li>
<h3>Engineering success</h3>
<p>Our <ahref="https://2022.igem.wiki/mit-mahe/engineering”>Engineering Success</a> shows the Design-Build-Test-Learn (DBTL) cycle for the modification cycle of the peptides.</p>
</li>
<li>

<h3>Collaborations</h3>
<p>We collaborated with other iGEM teams to help further each other's projects and advance the synthetic biology community in India. (Check out our <a href=”https://2022.igem.wiki/mit-mahe/collaborations”>Collaborations</a> page)</p>
</li>
<li>
<h3>Human practices</h3>
<p>For <a href=”https://2022.igem.wiki/mit-mahe/human-practices”>Human Practices</a>, we extended our outreach to the community by showcasing the impact of our problem and solution.</p>
</li>
<li>
<h3>Proposed implementation</h3>
<p>Ampifin finds its <a href=”https://2022.igem.wiki/mit-mahe/implementation”>Implementation</a> in RAS by employing a mesh-stack subjected at the inlet of the first tank in the system.</p>
</li>
</ol>

<h1>Gold medal</h1>
<ol>
<li>

<h3>Integrated human practices</h3>
<p>Our <a href=”https://2022.igem.wiki/mit-mahe/human-practices”>Integrated Human Practices</a> is a culmination of all the interactions, visits, and input we received through our broader base of stakeholders.</p>
</li>
<li>  

<h3>Project modeling </h3>
<p>Our mathematical model explains the relation between the amount of peptide needed for a specific amount of fibronectin present in the system. And it also reflects the analysis of the molecular dynamic simulations of the peptide. (Our <a href=”https://2022.igem.wiki/mit-mahe/model ”>Modelling</a> page)</p>
</li>
<li>

<h3>Partnership</h3>
<p>We partenered with IISER Pune 2 to help improve each others project. Via this <a href=”https://2022.igem.wiki/mit-mahe/partnership”>Partnership</a> we were successful in establishing valuable exchange of info which in turn aided in structuring our projects.</p>
</li>
<li>

<h3>Education and communications</h3>
<p>As part of our <a href=”https://2022.igem.wiki/mit-mahe/communication ”>Education and Communications</a>, we expounded and discussed the rudimentary aspects of synthetic biology and iGEM to various target audiences through our interactions with the working class population, undergraduate, high school, middle school, and differently-abled students.</p>
</li>
</ol>

    
</div>

{% endblock %}
