{% extends "layout.html" %}

{% block title %}Medals{% endblock %}
{% block lead %}Judging criteria{% endblock %}

{% block page_content %}

<div class="row">
    <h1>Bronze medal</h1>
    <ol>
        <li>
            <h3>Competition Deliverables</h3>
            <ul>
                <li>
                    <h5>Wiki</h5>
                    <p>You are currently browsing through our <a href="https://2022.igem.wiki/mit-mahe/">wiki</a>; we
                        hope you're liking it!</p>
                </li>
                <li>
                    <h5>Project Promotion Video</h5>
                    <p>To know about what our project is in under 2 min, do check out our <a>Promo Video</a>.</p>
                <li>
                    <h5>Judging form </h5>
                    <p>Our <a href="">Judging Form</a>.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3>Attributions</h3>
            <p>
                Check out our <a href="https://2022.igem.wiki/mit-mahe/team">Team</a> and the <a
                    href="https://2022.igem.wiki/mit-mahe/attributions">Attributions</a> page to learn about the
                contributions made by each
                one of our team members.
            </p>
        </li>
        <li>
            <h3>Project description</h3>
            <p>
                Ampifin is a sustainable solution to vibriosis which employs a novel antimicrobial peptide synthesized
                by us. <br>(Find out more on our <a href="https://2022.igem.wiki/mit-mahe/description">Description</a>
                page)</p>
        </li>
        <li>
            <h3> Contribution </h3>
            <p>Our <a>Software</a>, GRASP, mutates peptide sequences through Alanine Scanning.</p>
        </li>
    </ol>
</div>

{% endblock %}