{% extends "layout.html" %}

{% block title %}Partnership{% endblock %}

{% block page_content %}

<div class="row">

  <h1>Partnership with iGEM IISER Pune II</h1>

  <p>The partnership between <a href="https://2022.igem.wiki/iiser-pune2-india/">iGEM IISER Pune II</a> and iGEM MIT MAHE came at a rather unexpected time. We first interacted
    while collating on the organisational aspects of the <b>All India iGEM Meet</b>. Eleven Indian teams competing in
    iGEM 2022 attended the immersive three-day meet with activities ranging from project presentations to engrossing
    seminars on the various aspects of Synthetic biology.</p>

  <p>Antibodies are magical molecules created by evolution. As a special class of proteins, they have the perfect
    balance of surface geometry and surface chemistry. They can target and bind to almost any other protein or
    biomolecule. They are also very modular. Recombinant technology has enabled us to manipulate antibody domains in a
    way that we can create different formats of antibodies or antibody fragments. IISER Pune II has identified the best
    approach to create an antibody fragment that would be an ideal Dengue therapeutic without causing antibody-dependent
    enhancement.</p>
   
  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/partnership/partnership-aiim22-iiserp2-min.jpg" class="figure-img img-fluid rounded" alt="all teams at the Meet">
    <figcaption class="figure-caption text-center">
        A picture of all the teams at the Meet
    </figcaption>
</figure>


  <h2>Dry Lab</h2>
  <p>We had our first interaction based on the <b>dry lab aspects</b> of both teams. Following this, we had regular
    meetings with the team based on discussion and troubleshooting. Before they could go ahead with their first
    simulations, we helped them navigate their approach to molecular dynamic simulations (MDS) with its specific
    parameters and details based on our experience and understanding of the topic.</p>
  
  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/partnership/partnership-iiserp2-1.jpg" class="figure-img img-fluid rounded" alt="IISER Pune II interaction">
    <figcaption class="figure-caption text-center">
        Our interactions with IISER Pune II
    </figcaption>
</figure>
  

  <p>As our dry lab work progressed, we required intricate MDSs to be run on a supercomputer. Our collaborative work was
    strengthened here as IISER Pune II helped us with the processes involved because our resources could not stretch to
    that bandwidth. To view our MDS results, check our <a href="https://2022.igem.wiki/mit-mahe/model">model</a> page.</p>

  <p>Bioinformatics has a plethora of different tools to help perform specific tasks. They differ in their algorithms
    and, thus, depend on the context of the application. As students, navigating these tools and fixing them on a
    particular server is intricate, given our situations. Our teams encountered situations where we needed to dock
    proteins, predict protein structures, and run Molecular Dynamic Simulations. There are many available tools and no
    clear information on which tool to use, when and where. Therefore, we decided to make <b>handbooks on MDS and
      Protein Docking</b> that covers features and use-cases of various existing Bioinformatics tools for the same,
    which would help narrow down and simplify the choice of these servers for anyone who wants to Dock their proteins,
    run MDSs and predict structures. These would greatly aid future iGEM teams who wish to accelerate their dry lab
    aspects and formulate a more cohesive approach to MDS and docking. The MDS handbook is attached below. To view the
    protein docking handbook, check our <a href="https://2022.igem.wiki/mit-mahe/contribution">contribution</a> page.</p>

  <p>Click here for more information of the MDS handbook!</p>
  <a href="https://2022.igem.wiki/iiser-pune2-india/contribution">MDS handbook</a>

  <h2>Human Practices</h2>
  <p>To further our collaborative interactions with IISER Pune II, our teams organised a <b>Webinar on Biosafety in
      synthetic biology</b>. This webinar aimed to make the general audience aware of the essential Biosafety measures
    to be followed while working with synthetic biology in the real world.</p>

  <p>We invited Dr Vinod Jyothikumar to deliver this presentation. He received his PhD in Pharmaceutical and Biomedical
    Sciences from Strathclyde University, Glasgow, UK, in 2010 and post-doctoral experience from the University of
    Guelph, Canada—in 2011. He has executed various safety projects within research laboratories across reputed academic
    institutions in Europe, the US, and industry settings. It was an extremely interactive and insightful experience.
    The audience learnt about biosafety practices, dual research use, basic lab protocols and their imperativeness in
    any workspace, and legal regulations that follow any project. The participants also had many questions and clarified
    their doubts and misconceptions of the topic in the question and answer session.</p>
  
  <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/partnership/partnership-iiserp2-poster.png" class="figure-img img-fluid rounded" alt="Webinar poster">
    <figcaption class="figure-caption text-center">
        A snapshot of the webinar's poster. 
    </figcaption>
</figure>


   <figure class="figure">
    <img src="https://static.igem.wiki/teams/4200/wiki/partnership/partnership-iiserp2-webinar.png" class="figure-img img-fluid rounded" alt="Webinar on biosafety">
    <figcaption class="figure-caption text-center">
        A snapshot from the webinar on biosafety in synthetic biology
    </figcaption>
</figure>


  <p>Furthermore, being located across from a reputed medical college—i.e., Kasturba Medical College, our team was able
    to connect with doctors that work in the infectious disease division in various locations, including Kerala and
    Telangana. <b>We gathered data on important information that iGEM IISER Pune II required to make AbDEN a holistic
      solution</b>. Through this, we could understand their project and primary stakeholders effectively. Below attached
    includes our findings for the team.</p>
<iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="IHP" src="https://static.igem.wiki/teams/4200/wiki/pdfs/iiser-pune-ii-x-mit-mahe-human-practices.pdf#zoom=FitW"></iframe>
  

  <h2>Wet Lab</h2>

  <p>While we did not get the chance to execute some procedures in our respective labs, our teams worked together on
    creating a <b>study guide on protein expression, alternative vectors, expression systems, methods of induction and
      selection, and methods of pulldown.</b> Attached below is a detailed version of the study guide.</p>

   <iframe class="align-self-center my-5" loading="lazy" height="500px" width="100%" title="Study guide" src="https://static.igem.wiki/teams/4200/wiki/pdfs/mit-mahexiiser-pune-ii-study-guide.pdf#zoom=FitW"></iframe>

</div>

{% endblock %}
