{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<section class="team-cards-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background"
        style="background-image: url(https://static.igem.wiki/teams/4200/wiki/attributions/tushar-mishra.jpg)">
      </div>
      <div class="card__content">
        <p class="card__category">Team Co-Lead</p>
        <h3 class="card__heading">Tushar Mishra</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background"
        style="background-image: url(https://static.igem.wiki/teams/4200/wiki/attributions/suhani-kabra.jpg)">
      </div>
      <div class="card__content">
        <p class="card__category">Team Co-Lead</p>
        <h3 class="card__heading">Suhani Kabra</h3>
      </div>
    </a>
    <div>
</section>

{% endblock %}