#container {
	/* Center the text in the viewport. */
	margin: auto;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-size: 25pt;
	text-align: center;
	user-select: none;
}